main
	section#banner._bg-yellow
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax1.png' alt='')
			.banner__title СУПЕРМІЦНЕ
				p не боїться подряпин
			.banner__butn
				a.butn(href="#modal" data-toggle="modal") Замовити скло NanoGlass
		.banner__img
			img(src='img/img-banner.png' alt='')
	section#about
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax2.svg' alt='')
			.z-index-wrap
				.section-title NanoGlass
					p Oліофобне захисне покриття Вашого гаджета
				.row
					.col-md-6
						.video-container
							iframe(width='', height='', src='https://www.youtube.com/embed/br44hDrcFNo', frameborder='0', allowfullscreen='')
					.col-md-6
						.text
							p Загартоване захисне скло - це абсолютно новий тип захисного скла.
							p Воно проходить попередню хімічну обробку, після чого стає надзвичайно міцним, проте зберігає чутливість і всі характеристики оригінального сенсорного екрану. Завдяки передовим технологіям скло NanoGlass є одним з найсильніших, яке не боїться подряпин, легко та міцно прилипає до дисплею. 
						.details-link
							a(href='#') детальнише
	section#benefits 
		.container
			.section-title._color-white переваги
				p Чому ви повинні обрати саме нас?
			.row
				.col-md-4
					.benefit-img
						.parallax
							.parallax__layer
								img(src='img/bg-parralax3.png' alt='')
						img(src="img/img-iphone5-c.png" alt='')
				.col-md-8
					.benefits-list
						ul
							li.benefit
								.benefit__icon
									img(src='img/svg/icon-benefit-1.svg' alt='')
								.benefit__title Оліофобне покриття
								.benefit__text  Це супергідрофобне покриття, яке захищає смартфон від зовнішніх чинників. Вода та інші рідини відштовхуються від поверхні завдяки створеному повітряному бар’єру. 
							li.benefit
								.benefit__icon
									img(src='img/svg/icon-benefit-2.svg' alt='')
								.benefit__title Особливо прозоре
								.benefit__text  Продовжує термін експлуатації, завдяки надзвичайній міцності загартованого скла, зберігаючи чіткість зображення і колірну яскравість.
							li.benefit
								.benefit__icon
									img(src='img/svg/icon-benefit-3.svg' alt='')
								.benefit__title Ультра тонке
								.benefit__text  Твердість захисного скла становить 9H. Захист гаджета втричі більший, ніж у звичайної захисної плівки.
							li.benefit
								.benefit__icon
									img(src='img/svg/icon-benefit-4.svg' alt='')
								.benefit__title Для чутливих екранів
								.benefit__text  Зберігає чутливість і всі характеристики оригінального сенсорного екрану. 
							li.benefit
								.benefit__icon
									img(src='img/svg/icon-benefit-5.svg' alt='')
								.benefit__title Не залишає відбитків
								.benefit__text  Високий ступінь захисту екрану від механічних пошкоджень, знижує ризик появи тріщин при сильних ударах.Спеціальний матеріал не боїться подряпин навіть від скальпелю. До того ж, зберігає поверхню чистою, запобігаючи появі відбитків пальців. 
	section#catalog
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax4.png' alt='')
			.z-index-wrap
				.section-title каталог товарів
					p Виберіть найкраще скло вже зараз
				.row.eq-pr
					.col-xs-6.col-lg-3
						a.product(href="#")
							.product__img
								img(src='img/img-product-2.png' alt='')
							.product__data.eq-pr__item
								.product__title Захисне 4D скло
								.product__price
									span.current 
										span.val  250
										span.descr  грн.
								.product__butn
									.butn.butn_yellow Замовити скло
					.col-xs-6.col-lg-3
						a.product(href="#")
							.product__img
								img(src='img/img-product-3.png' alt='')
							.product__data.eq-pr__item
								.product__title Захисне 2.5D скло
								.product__price
									span.current
										span.val 120
										span.descr грн.
									//- span.old
									//- 	span.val 180
									//- 	span.descr грн.
									//- span.profit -15%
								.product__butn
									.butn.butn_yellow Замовити скло
					.col-xs-6.col-lg-3
						a.product(href="#")
							.product__img
								img(src='img/img-product-1.png' alt='')
							.product__data.eq-pr__item
								.product__title Silk Print
								.product__price
									span.current 
										span.val 150 
										span.descr грн.
									//- span.old
									//- 	span.val 999
									//- 	span.descr грн.
									//- span.profit -15%
								.product__butn
									.butn.butn_yellow Замовити скло
					.col-xs-6.col-lg-3
						a.product(href="#")
							.product__img
								img(src='img/img-product-4.png' alt='')
							.product__data.eq-pr__item
								.product__title Захисне 5D скло
								.product__price
									span.current
										span.val 300
										span.descr грн.
									//- span.old 
									//- 	span.val 999
									//- 	span.descr грн.
									//- span.profit -15%
								.product__butn
									.butn.butn_yellow Замовити скло
	section#promo._bg-yellow
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax5.png' alt='')
			.floating-title Акція
			
			.row.z-index-wrap
				.col-md-7
					.promo-content
						.promo-content__caption
							.promo-content__caption-label
								img(src='img/img-caption-label.svg' alt='')
							span тільки у жовтні
						.promo-content__title купуй два скла по ціні одного!
						.promo-content__text *Акція діє лише в Інтернет-магазині та в роздрібних точках продажу. 
					.clearfix
						.countdown
							.countdown__item
								.countdown__value 11
								.countdown__value-hint днів
							.countdown__item
								.countdown__value 08
								.countdown__value-hint годин
							.countdown__item
								.countdown__value 56
								.countdown__value-hint хвилин
							.countdown__item
								.countdown__value 24
								.countdown__value-hint секунд
						.promo__butn
							a.butn(href="#modal" data-toggle='modal') Замовити скло
				.col-md-5
					.promo-img
						img.promo-img__buble.promo-img__buble_1(src='img/img-bubble1.png')
						img.promo-img__buble.promo-img__buble_2(src='img/img-bubble2.png')
						img.promo-img__buble.promo-img__buble_3(src='img/img-bubble3.svg')
						img.promo-img__main(src="img/img-promo-main.png" alt='')
	section#instruction
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax7.png' alt='')
			.z-index-wrap
				.section-title._color-white Інструкція при наклеюванні захисного скла Nanaoglass
					p Придбали захисне скло, але не знаєте, як наклеїти його на телефон? Тоді ми підготували для Вас покрокову інструкцію!
				.row
					.col-md-6
						.instruction__video
							.video-container
								iframe(width='', height='', src='https://www.youtube.com/embed/br44hDrcFNo', frameborder='0', allowfullscreen='')
						.instruction 
							.instruction__title  Боїтеся розбити екран Вашого гаджета?
							.instruction__subtitle 
								span а ми ні!
							.instruction__text Адже у нас є Nanoglass - надійний захист для Вашого телефону. Ми кажемо “стоп” розбитому склу, подряпинам та тріщинам. Дисплей Вашого телефону залишиться цілим, а силу удару на себе прийме захисне скло.
					.col-md-6
						.instruction-list
							ol
								li Якщо мобільний пристрій новий або на ньому вже була наклеєна плівка раніше – знімаємо її
								li Витираємо дисплей екрану спочатку серветкою №1, потім серветкою №2 (в комплекті)
								li Обережно знімаємо захисне покриття із захисного скла Nanoglass і прикладаємо його до телефону
								li Розташовуємо захисне скло Nanoglass на екрані, приклеюємо його до гаджета таким чином, щоб забезпечити рівномірні відступи від країв, кнопок, вирізів для динаміка, тощо
								li Впевнившись, що скло розташоване рівно, легенько, по центру, притискаємо захисне скло до екрана
								li Розгладжуємо скло від центру до країв. Не варто занадто сильно натискати на екран, щоб прибрати дрібні бульбашки повітря. Вони зникнуть самі протягом декількох днів після проведення процедури
	section#gallery-section
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax8.png' alt='')
			.z-index-wrap
				.section-title фотогалерея
					p Реальні фото нашої продукції
				.gallery
					.row.eq
						//- .masonry
						//- 	.col-md-3.masonry__item_sizer
						//- 	.col-md-6.masonry__item
						//- 		a(href="img/img-gal1.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal1.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal2.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal2.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal3.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal3.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal4.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal4.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal5.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal5.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal6.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal6.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal7.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal7.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal8.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal8.jpg" alt="")
						//- 	.col-md-6.masonry__item
						//- 		a(href="img/img-gal10.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal10.jpg" alt="")
						//- 	.col-md-3.masonry__item
						//- 		a(href="img/img-gal9.jpg" data-fancybox="gallery")
						//- 			img(src="img/img-gal9.jpg" alt="")
						.col-md-6
							a.gallery__item.eq__item(href="img/img-gal1.jpg" data-fancybox="gallery")
								img(src="img/img-gal1.jpg" alt="")
						.col-md-6.eq__item.__item_mb
							.row
								.col-sm-6.col-md-6
									a.gallery__item.__item_mb(href="img/img-gal2.jpg" data-fancybox="gallery")
										img(src="img/img-gal2.jpg" alt="")
								.col-sm-6.col-md-6
									a.gallery__item.__item_mb(href="img/img-gal3.jpg" data-fancybox="gallery")
										img(src="img/img-gal3.jpg" alt="")
								.col-sm-6.col-md-6
									a.gallery__item(href="img/img-gal4.jpg" data-fancybox="gallery")
										img(src="img/img-gal4.jpg" alt="")
								.col-sm-6.col-md-6
									a.gallery__item(href="img/img-gal5.jpg" data-fancybox="gallery")
										img(src="img/img-gal5.jpg" alt="")
					.row.eq
						.col-md-6.eq__item
							.row
								.col-sm-6.col-md-6
									a.gallery__item.__item_mb(href="img/img-gal6.jpg" data-fancybox="gallery")
										img(src="img/img-gal6.jpg" alt="")
								.col-sm-6.col-md-6
									a.gallery__item.__item_mb(href="img/img-gal7.jpg" data-fancybox="gallery")
										img(src="img/img-gal7.jpg" alt="")
								.col-sm-6.col-md-6
									a.gallery__item(href="img/img-gal8.jpg" data-fancybox="gallery")
										img(src="img/img-gal8.jpg" alt="")
								.col-sm-6.col-md-6
									a.gallery__item(href="img/img-gal9.jpg" data-fancybox="gallery")
										img(src="img/img-gal9.jpg" alt="")
						.col-md-6
							a.gallery__item.eq__item(href="img/img-gal10.jpg" data-fancybox="gallery")
								img(src="img/img-gal10.jpg" alt="")
				.gallery-butn
					a.butn.butn_yellow(href='#') показати ще фото
	section#contact-us
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax9.png' alt='')
			.z-index-wrap
				.section-title._color-white Напишіть нам
					p У вас є до нас питання чи пропозиції? Ми чекаємо вашого листа!
				form#contactUsForm(method='POST', onsubmit='return false')
					.row
						.col-md-4.input-row
							input(type='text' name='name' placeholder="" required)
							label(for='name') Ваше ім’я 
								span *
						.col-md-4.input-row
							input(type='email' name='email' placeholder="" required)
							label(for='email') Email 
								span *
						.col-md-4.input-row
							input(type='text' name='subject' placeholder="" required)
							label(for='email') Тема повідомлення 
								span *
						.col-md-12.input-row
							textarea(name='message' placeholder="" required)
							label(for='email') Текст повідомлення 
								span *
						.col-md-12.input-butn-row
							button.butn.butn_yellow(type='submit' data-rel='contactUsForm') надіслати листа
