main
	section#card
		.container
			.parallax
				.parallax__layer
					img(src='img/bg-parralax2.svg' alt='')
			.z-index-wrap
				.section-title захисне скло 4D
					p Виберіть найкраще скло вже зараз! Обирай свій колір.
				.row
					.col-md-6
						.product-slider-wrap
							.product-slider
								.product-slider__item
									a.product-slider__img(href="img/img-gal2.jpg" data-fancybox="gallery")
										img(src="img/img-gal2.jpg" alt="")
								.product-slider__item
									a.product-slider__img(href="img/img-gal2.jpg" data-fancybox="gallery")
										img(src="img/img-gal2.jpg" alt="")
								.product-slider__item
									a.product-slider__img(href="img/img-gal2.jpg" data-fancybox="gallery")
										img(src="img/img-gal2.jpg" alt="")
								.product-slider__item
									a.product-slider__img(href="img/img-gal2.jpg" data-fancybox="gallery")
										img(src="img/img-gal2.jpg" alt="")
					.col-md-6
						.product-card
							.product-card__price
								span.current 
									span.val 150 
									span.descr грн.
								span.old
									span.val 999 
									span.descr грн.
								span.profit -15%
							.product-card__color
								.product-card__color-title Наявні кольори:
								.product-card__color-item.product-card__color-item_wh
								.product-card__color-item.product-card__color-item_gd
								.product-card__color-item.product-card__color-item_pink
								.product-card__color-item.product-card__color-item_red
								.product-card__color-item.product-card__color-item_black
							.product-card__description Захисне скло від NanoGlass проходить попередню хімічну обробку, після чого стає надзвичайно міцним. Повністю закруглені грані скла покривають не лише екран смартфону, а й корпус. 
							.product-card__butn
								a.butn.butn_yellow(href='#modal' data-toggle='modal') Замовити скло	
							
						
