footer
	.container
		.footer__top
			.footer__top-item.phone
				a(href='tel:+380671000446') 067 1000 446
			.footer__top-item.location
				a(href='https://goo.gl/maps/FCbm2tAy1Fu' target="_blank") м. Хмельницький, Проскурівська, 32
			.footer__top-item.mail
				a(href='mailto:nanoglass.org@gmail.com') nanoglass.org@gmail.com
		.footer__bottom
			.copyright Copyright © 2017 NanoGlass
			

.modal-hidden
			#modal.modal.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						.close-x(role='button', data-dismiss='modal')
						.form-title форма заявки
						form#orderForm(method='POST', onsubmit='return false')
							.row
								.col-md-6.input-row
									input(type='text' name='name' placeholder="" required)
									label(for='name') Ваше ім’я 
										span *
								.col-md-6.input-row
									input(type='tel' name='tel' placeholder="" required)
									label(for='tel') Номер телефона
										span *
								.col-md-6.input-row
									input(type='email' name='email' placeholder="" required)
									label(for='email') Email 
										span *
								.col-md-6.input-row
									input(type='text' name='model' placeholder="")
									label(for='model') Модель
									.form-hint Наприклад, Samsung Galaxy J3 (2017)
								.col-md-6.input-row
									span.input-title Оберіть колір:
									input.wh(type='checkbox', name='color', value='white' checked='')
									input.gd(type='checkbox', name='color', value='gold' )
									input.pink(type='checkbox', name='color', value='pink' )
									input.red(type='checkbox', name='color', value='red' )
									input.black(type='checkbox', name='color', value='black' )
								.col-md-6.input-row
									span.input-title Кількість:
									input(type='number', name='quantity', value='1' min='1' max='999' )
								.col-md-12.input-butn-row
									button.butn.butn_yellow(type='submit' data-rel='orderForm') відправити замовлення
				
			
			#thank-you.modal.modalthank.my-modal.fade.popup(role='dialog')
				.modal-dialog
					.modal-content
						button.close.close-x(type='button', data-dismiss='modal')

						.form-wrapper
							.form__title дякуємо!
							.input-row
								b Ваше повідомлення надіслано успішно!
								br
								| Наш спіціаліст зв'яжеться з
								|                         Вами найближчим часом.
							.input-row
								button.close.btn.btn_blue(type='button', data-dismiss='modal')
									| закрити
