ul#nav
	li
		a.logo(href='index.html')
			svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='67', height='93', viewbox='0 0 67 93')
				defs
					path#a(d='M45 114h-6L22.67 88.1h-.17l.1 1.42c.21 2.71.31 5.19.31 7.43L23 114h-5V82h7l15.3 24.94h.13c-.03-.34-.09-1.56-.18-3.66-.08-2.1-.13-3.75-.13-4.93L40 82h5zm37-16.46c0 5.2-1.31 9.25-3.93 12.13-2.62 2.89-6.32 4.33-11.12 4.33-4.86 0-8.59-1.43-11.2-4.3-2.6-2.86-3.9-6.93-3.9-12.2s1.31-9.32 3.93-12.15S62.14 81.1 67 81.1c4.78 0 8.48 1.43 11.1 4.3 2.6 2.87 3.91 6.92 3.91 12.13zm-7.98 8.98c1.6-2 2.39-5 2.39-8.98 0-3.92-.79-6.89-2.37-8.91-1.57-2.03-3.92-3.04-7.05-3.04-3.15 0-5.53 1.01-7.14 3.04-1.6 2.02-2.4 5-2.4 8.91 0 3.94.8 6.92 2.39 8.95 1.6 2.03 3.97 3.05 7.1 3.05 3.13 0 5.5-1 7.08-3.02z')
					path#b(d='M44.8 72.1h-6.45L22.53 46.62h-.17l.1 1.42c.21 2.71.32 5.19.32 7.43V72.1H18V40.14h6.38l15.78 25.33h.13c-.03-.34-.09-1.56-.17-3.66-.1-2.1-.14-3.75-.14-4.93V40.14h4.82zm34.05 0h-5.6l-3.2-8.88h-12.3l-3.15 8.87h-5.55L61.1 40.01h5.72zM59.28 58.71h9.38l-3.02-8.7c-.22-.58-.52-1.5-.91-2.75a59 59 0 0 1-.8-2.76c-.4 1.8-.98 3.75-1.74 5.88z')
				g(transform='translate(-16 -39)')
					text( dominant-baseline='text-before-edge', font-family='Helvetica, Arial, sans-serif', font-size='11', font-style='none', font-weight='400', style='text-transform:uppercase;line-height:24px', transform='translate(18 124)')
				g(transform='translate(-16 -39)')
					use(xlink:href='#a')
				g(transform='translate(-16 -39)')
					use(xlink:href='#b')
	li
		a.current(href="#banner")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='20', height='19', viewbox='0 0 20 19')
					defs
						path#a1(d='M57.7 246.69c-.39.39-.99.42-1.38.03l-.3-.3V253a1 1 0 0 1-1 1H45a1 1 0 0 1-1-1v-6.6l-.34.35c-.4.39-.97.33-1.36-.06a.98.98 0 0 1-.02-1.4l7.01-7a1 1 0 0 1 1.42 0l4.99 4.98.05.05 1.97 1.97c.4.4.37 1-.02 1.4zm-3.68-2.27l-4.02-4-4 3.98v7.6h3v-3h2.01v3h3z')
					g(transform='translate(-40 -236)')
						use(xlink:href='#a1')

			span Головна
	li
		a(href="#about")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='16', height='19', viewbox='0 0 16 19')
					defs
						path#a2(d='M52 309a1 1 0 0 1 0 2h-4a1 1 0 1 1 0-2zm-5-3a1 1 0 0 1 1-1h1a1 1 0 1 1 0 2h-1a1 1 0 0 1-1-1zm10-2v10a1 1 0 0 1-1 1H44a1 1 0 0 1-1-1v-14a1 1 0 0 1 1-1h8a1 1 0 0 1 .7.3l4 4a1 1 0 0 1 .3.7zm-4-1h.59l-.59-.59zm2 2h-3a1 1 0 0 1-1-1v-3h-6v12h10z')
					g(transform='translate(-42 -297)')
						use(xlink:href='#a2')
			span Про NanoGlass
	li
		a(href="#benefits")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='20', height='19', viewbox='0 0 20 19')
					defs
						path#a3(d='M54.33 376a1 1 0 0 1-.49-.13L50 373.75l-3.84 2.12a1 1 0 0 1-1.47-1.03l.74-4.57-3.14-3.23a1 1 0 0 1 .56-1.68l4.3-.66 1.94-4.12a1 1 0 0 1 1.82 0l1.93 4.12 4.3.66a1 1 0 0 1 .57 1.68l-3.14 3.23.74 4.57a1 1 0 0 1-.98 1.16zM50 371.6a1 1 0 0 1 .48.13l2.53 1.4-.5-3.03a1 1 0 0 1 .27-.86l2.14-2.2-2.9-.44a1 1 0 0 1-.76-.57L50 363.35l-1.26 2.68a1 1 0 0 1-.75.57l-2.91.44 2.14 2.2a1 1 0 0 1 .27.86l-.5 3.02 2.53-1.39a1 1 0 0 1 .48-.12z')
					g(transform='translate(-40 -359)')
						use(xlink:href='#a3')
			span Переваги
	li
		a(href="#catalog")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='14', height='19', viewbox='0 0 14 19')
					defs
						path#a4(d='M56 426v10a1 1 0 0 1-1 1H45a1 1 0 0 1-1-1v-10h3v-2a3 3 0 1 1 6 0v2zm-7 0h2v-2a1 1 0 1 0-2 0zm5 2h-8v7h8z')
					g(transform='translate(-43 -419)')
						use( xlink:href='#a4')
			span Каталог
	li
		a(href="#promo")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='19', height='19', viewbox='0 0 19 19')
					defs
						path#a5(d='M58 486v4a1 1 0 0 1-1 1v6a1 1 0 0 1-1 1H44a1 1 0 0 1-1-1v-6a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h2a3 3 0 0 1 5-2.22 2.98 2.98 0 0 1 5 2.22h2a1 1 0 0 1 1 1zm-7-1h2a1 1 0 1 0-2 0zm-4 0h2a1 1 0 1 0-2 0zm2 6h-4v5h4zm0-4h-5v2h5zm6 4h-4v5h4zm1-4h-5v2h5z')
					g(transform='translate(-40 -480)')
						use(xlink:href='#a5')
			span Акція
	li
		a(href="#instruction")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='18', height='20', viewbox='0 0 18 20')
					defs
						path#a6(d='M58 549v4a1 1 0 0 1-1 1h-1.84l.88 1.52a.99.99 0 0 1-.36 1.35l-3.43 1.99a1 1 0 0 1-1.36-.37l-.89-1.54-.9 1.54a1 1 0 0 1-1.35.37l-3.43-1.99a.99.99 0 0 1-.36-1.35l.88-1.52H43a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h1.84l-.88-1.52a.99.99 0 0 1 .36-1.35l3.43-1.99a1 1 0 0 1 1.36.37l.89 1.54.9-1.54a1 1 0 0 1 1.35-.37l3.43 1.99c.47.27.64.87.36 1.35l-.88 1.52H57a1 1 0 0 1 1 1zm-2 1h-1.62c-.2-.9-.67-1.7-1.33-2.3l.78-1.35-1.71-1-.78 1.35a4.51 4.51 0 0 0-2.68 0l-.78-1.34-1.71.99.78 1.35c-.66.6-1.13 1.4-1.33 2.3H44v2h1.62c.2.9.68 1.7 1.33 2.3l-.78 1.35 1.71 1 .79-1.36a4.49 4.49 0 0 0 2.66 0l.79 1.35 1.71-.99-.78-1.35c.65-.6 1.13-1.4 1.33-2.3H56zm-4 .99a2 2 0 1 1-4 0 2 2 0 0 1 4 0z')
					g(transform='translate(-41 -541)')
						use(xlink:href='#a6')
			span Інструкція
	li
		a(href="#gallery-section")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='20', height='19', viewbox='0 0 20 19')
					defs
						path#a8(d='M58 605v14a1 1 0 0 1-1 1H43a1 1 0 0 1-1-1v-14a1 1 0 0 1 1-1h14a1 1 0 0 1 1 1zm-14 13h2.2l6.1-6.1a1 1 0 0 1 1.42 0l2.28 2.27V606H44zm12 0v-1L53.01 614 49.03 618zm-10-8a2 2 0 1 1 4 0 2 2 0 0 1-4 0z')
					g(transform='translate(-40 -602)')
						use(xlink:href='#a8')
			span Фотогалерея
	li
		a(href="#contact-us")
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='15', height='19', viewbox='0 0 15 19')
					defs
						path#a9(d='M56 671c0 1.3-.43 2.5-1.14 3.48-.01.03-.01.05-.03.07l-4 6a1 1 0 0 1-1.66 0l-4-6c-.02-.02-.02-.04-.03-.07A6 6 0 1 1 56 671zm-2 0a4 4 0 0 0-8 0c0 1 .62 2 1 2.7l3 4.5 3-4.5a5 5 0 0 0 1-2.7zm-2 0a2 2 0 1 1-4 0 2 2 0 0 1 4 0z')
					g(transform='translate(-42 -663)')
						use( xlink:href='#a9')
			span Зворотній зв'язок
	li.divider
		a(href="https://www.facebook.com/" target='_blank')
			.nav-icon.nav-icon_soc
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='13', height='22', viewbox='0 0 13 22')
					defs
						path#a13(d='M46.98 807H43v-9.5h-2v-3.28h2v-1.96c0-2.68 1.13-4.26 4.33-4.26h2.66v3.27h-1.66c-1.25 0-1.33.46-1.33 1.31v1.64H50l-.35 3.28h-2.67v9.5z')
					g(transform='translate(-39 -786)')
						use( xlink:href='#a13')
	li
		a(href="https://www.instagram.com/" target='_blank')
			.nav-icon
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22', height='22', viewbox='0 0 22 22')
					defs
						path#a10(d='M55 842.24v8.51c0 2.9-2.35 5.25-5.24 5.25h-8.52a5.25 5.25 0 0 1-5.24-5.25v-8.5c0-2.9 2.35-5.25 5.24-5.25h8.52c2.89 0 5.24 2.35 5.24 5.24zm-1.69 8.51v-8.5c0-1.97-1.6-3.57-3.55-3.57h-8.52a3.56 3.56 0 0 0-3.55 3.56v8.51c0 1.97 1.6 3.56 3.55 3.56h8.52c1.96 0 3.55-1.6 3.55-3.56zm-2.91-4.25a4.9 4.9 0 1 1-9.8-.01 4.9 4.9 0 0 1 9.8 0zm-1.69 0a3.21 3.21 0 1 0-6.43 0 3.21 3.21 0 0 0 6.43 0zm2.77-5.97a1.24 1.24 0 0 1 0 1.75c-.24.23-.55.37-.88.37a1.24 1.24 0 0 1-1.24-1.24 1.24 1.24 0 0 1 1.24-1.24c.33 0 .65.13.88.36z')
					g(transform='translate(-34 -835)')
						use( xlink:href='#a10')
	li
		a(href="https://www.youtube.com/" target='_blank')
			.nav-icon.nav-icon_soc
				svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='22', height='27', viewbox='0 0 22 27')
					defs
						path#a12(d='M52.07 903.82h-1.25v-.73c0-.33.27-.6.6-.6h.07c.33 0 .6.27.6.6zm-4.11-1.1v3.58c0 .26-.26.47-.58.47-.32 0-.58-.21-.58-.47v-3.57c0-.26.26-.48.58-.48.32 0 .58.22.58.48zm7.04-2.46v6.78c0 1.63-1.4 2.96-3.1 2.96H39.1a3.05 3.05 0 0 1-3.1-2.96v-6.78c0-1.63 1.29-2.26 3-2.26h13c1.7 0 3 .63 3 2.26zM40 908v-7h2v-1h-5v1h2v7zm4.71-6.3l-.71.3v4c0 .55-.58.34-.61.44-.1.3-.2 1.14-.39.56-.03-.1 0-.48 0-1v-4h-1v3c0 .58-.02 1.8 0 2 .03.35-.32.77 0 1 1.47-.13 1.71-.38 2-1v1h1v-6zm4.23 4.36v-3.17c0-1.21-.9-1.94-2.12-.96L47 900h-1v8l.58-.3.1-.5c1.39 1.28 2.26.4 2.26-1.14zm4.13-.42h-.99V906.35c0 .3-.25.54-.54.54h-.2a.54.54 0 0 1-.54-.54v-1.46h2.27V904c0-.63-.02-1.26-.07-1.61-.16-1.14-1.74-1.32-2.54-.74a1.5 1.5 0 0 0-.56.75c-.11.33-.17.78-.17 1.34v1.9c0 3.15 3.8 2.7 3.34 0zm-5.2-11.8c-.02-.19-.03-.55-.03-1.1v-4.25h1.2v4.91c0 .27.23.49.5.49.26 0 .47-.22.47-.49v-4.91h1.16v6.32H49.7l.03-.53c-.1.21-.23.37-.37.48a.83.83 0 0 1-.51.16.92.92 0 0 1-.54-.15.9.9 0 0 1-.32-.4 1.87 1.87 0 0 1-.13-.53zm-4.34-3.04c0-.61.05-1.08.15-1.43.1-.34.28-.61.54-.82.26-.2.6-.3 1-.3.34 0 .63.06.87.2.25.12.44.3.57.51.13.21.22.43.27.66.05.23.08.57.08 1.03v1.6a8.7 8.7 0 0 1-.07 1.3c-.05.27-.14.52-.3.76-.14.24-.33.41-.56.52-.23.12-.5.17-.8.17a2.2 2.2 0 0 1-.85-.14c-.23-.1-.41-.24-.54-.44-.13-.2-.23-.43-.28-.7-.06-.28-.08-.7-.08-1.25v-1.67zm1.15 2.5c0 .36.27.65.59.65.32 0 .58-.29.58-.65v-3.36c0-.36-.26-.65-.58-.65-.32 0-.59.3-.59.65zm-4.08-3.14L38.86 886h1.5l.89 3.09.87-3.08h1.52L42 890.16V895h-1.4z')
					g(transform='translate(-34 -884)')
						use( xlink:href='#a12')
header
	.container
		.header-item.phone
			a(href='tel:+380671000446') 067 1000 446
		.header-item.mail
			a(href='mailto:nanoglass.org@gmail.com') nanoglass.org@gmail.com
