doctype html
html
	head
		include ./_head.jade
	body
		include ./components/_header.jade
		include ./components/_content.jade
		include ./components/_footer.jade
		//scripts
		
		//- jquery:js
		script(src="vendor/js/jquery.js")
		//- endinject
		//- inject:js
		script(src="vendor/js/bootstrap.min.js")
		script(src="vendor/js/imgloaded.js")
		script(src="vendor/js/jquery.fancybox.min.js")
		script(src="vendor/js/jquery.mCustomScrollbar.min.js")
		script(src="vendor/js/jquery.mousewheel.min.js")
		script(src="vendor/js/masonry.js")
		script(src="vendor/js/slick.js")
		script(src="vendor/js/jquery.formstyler.min.js")
		script(src="js/main.js")
		//- endinject
