* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none; }

*:active, *:focus {
  outline: none !important;
  text-decoration: none !important; }

html {
  height: 100%;
  overflow-x: hidden; }

body {
  min-height: 100%;
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  overflow-x: hidden; }

.container {
  padding-left: 97px; }

.clearfix:after,
.clearfix:before {
  content: ' ';
  display: table;
  clear: both; }

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0; }

.row-eq-height {
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

@-webkit-keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@keyframes moveTop {
  0% {
    top: 0; }
  50% {
    top: -20px; }
  100% {
    top: 0; } }

@-webkit-keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@keyframes moveLeft {
  0% {
    left: 0; }
  50% {
    left: -20px; }
  100% {
    left: 0; } }

@-webkit-keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@keyframes moveLeftRight {
  0% {
    left: 0; }
  50% {
    left: 50px; }
  100% {
    left: 0; } }

@-webkit-keyframes spaceboots {
  0% {
    -webkit-transform: translate(2px, 1px) rotate(0deg); }
  10% {
    -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
  20% {
    -webkit-transform: translate(-3px, 0px) rotate(1deg); }
  30% {
    -webkit-transform: translate(0px, 2px) rotate(0deg); }
  40% {
    -webkit-transform: translate(1px, -1px) rotate(1deg); }
  50% {
    -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
  60% {
    -webkit-transform: translate(-3px, 1px) rotate(0deg); }
  70% {
    -webkit-transform: translate(2px, 1px) rotate(-1deg); }
  80% {
    -webkit-transform: translate(-1px, -1px) rotate(1deg); }
  90% {
    -webkit-transform: translate(2px, 2px) rotate(0deg); }
  100% {
    -webkit-transform: translate(1px, -2px) rotate(-1deg); } }

._bg-yellow {
  background-color: #fedd44; }

.icon_house {
  width: 20px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M57.7%20246.69c-.39.39-.99.42-1.38.03l-.3-.3V253a1%201%200%200%201-1%201H45a1%201%200%200%201-1-1v-6.6l-.34.35c-.4.39-.97.33-1.36-.06a.98.98%200%200%201-.02-1.4l7.01-7a1%201%200%200%201%201.42%200l4.99%204.98.05.05%201.97%201.97c.4.4.37%201-.02%201.4zm-3.68-2.27l-4.02-4-4%203.98v7.6h3v-3h2.01v3h3z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-236)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_cog {
  width: 18px;
  height: 20px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2220%22%20viewBox%3D%220%200%2018%2020%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M58%20549v4a1%201%200%200%201-1%201h-1.84l.88%201.52a.99.99%200%200%201-.36%201.35l-3.43%201.99a1%201%200%200%201-1.36-.37l-.89-1.54-.9%201.54a1%201%200%200%201-1.35.37l-3.43-1.99a.99.99%200%200%201-.36-1.35l.88-1.52H43a1%201%200%200%201-1-1v-4a1%201%200%200%201%201-1h1.84l-.88-1.52a.99.99%200%200%201%20.36-1.35l3.43-1.99a1%201%200%200%201%201.36.37l.89%201.54.9-1.54a1%201%200%200%201%201.35-.37l3.43%201.99c.47.27.64.87.36%201.35l-.88%201.52H57a1%201%200%200%201%201%201zm-2%201h-1.62c-.2-.9-.67-1.7-1.33-2.3l.78-1.35-1.71-1-.78%201.35a4.51%204.51%200%200%200-2.68%200l-.78-1.34-1.71.99.78%201.35c-.66.6-1.13%201.4-1.33%202.3H44v2h1.62c.2.9.68%201.7%201.33%202.3l-.78%201.35%201.71%201%20.79-1.36a4.49%204.49%200%200%200%202.66%200l.79%201.35%201.71-.99-.78-1.35c.65-.6%201.13-1.4%201.33-2.3H56zm-4%20.99a2%202%200%201%201-4%200%202%202%200%200%201%204%200z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-41%20-541)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_fb {
  width: 13px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2213%22%20height%3D%2222%22%20viewBox%3D%220%200%2013%2022%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M46.98%20807H43v-9.5h-2v-3.28h2v-1.96c0-2.68%201.13-4.26%204.33-4.26h2.66v3.27h-1.66c-1.25%200-1.33.46-1.33%201.31v1.64h3l-.35%203.28h-2.67v9.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-39%20-786)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_file {
  width: 16px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2219%22%20viewBox%3D%220%200%2016%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M52%20309a1%201%200%200%201%200%202h-4a1%201%200%201%201%200-2zm-5-3a1%201%200%200%201%201-1h1a1%201%200%201%201%200%202h-1a1%201%200%200%201-1-1zm10-2v10a1%201%200%200%201-1%201H44a1%201%200%200%201-1-1v-14a1%201%200%200%201%201-1h8a1%201%200%200%201%20.7.3l4%204a1%201%200%200%201%20.3.7zm-4-1h.59l-.59-.59zm2%202h-3a1%201%200%200%201-1-1v-3h-6v12h10z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-42%20-297)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_galery {
  width: 20px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M58%20605v14a1%201%200%200%201-1%201H43a1%201%200%200%201-1-1v-14a1%201%200%200%201%201-1h14a1%201%200%200%201%201%201zm-14%2013h2.2l6.1-6.1a1%201%200%200%201%201.42%200l2.28%202.27V606H44zm12%200v-1l-2.99-3-3.98%204zm-10-8a2%202%200%201%201%204%200%202%202%200%200%201-4%200z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-602)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_insta {
  width: 22px;
  height: 22px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M55%20842.24v8.51c0%202.9-2.35%205.25-5.24%205.25h-8.52a5.25%205.25%200%200%201-5.24-5.25v-8.5c0-2.9%202.35-5.25%205.24-5.25h8.52c2.89%200%205.24%202.35%205.24%205.24zm-1.69%208.51v-8.5c0-1.97-1.6-3.57-3.55-3.57h-8.52a3.56%203.56%200%200%200-3.55%203.56v8.51c0%201.97%201.6%203.56%203.55%203.56h8.52c1.96%200%203.55-1.6%203.55-3.56zm-2.91-4.25a4.9%204.9%200%201%201-9.8-.01%204.9%204.9%200%200%201%209.8%200zm-1.69%200a3.21%203.21%200%201%200-6.43%200%203.21%203.21%200%200%200%206.43%200zm2.77-5.97a1.24%201.24%200%200%201%200%201.75c-.24.23-.55.37-.88.37a1.24%201.24%200%200%201-1.24-1.24%201.24%201.24%200%200%201%201.24-1.24c.33%200%20.65.13.88.36z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-34%20-835)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_location-pin {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2219%22%20viewBox%3D%220%200%2015%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M56%20671c0%201.3-.43%202.5-1.14%203.48-.01.03-.01.05-.03.07l-4%206a1%201%200%200%201-1.66%200l-4-6c-.02-.02-.02-.04-.03-.07A6%206%200%201%201%2056%20671zm-2%200a4%204%200%200%200-8%200c0%201%20.62%202%201%202.7l3%204.5%203-4.5a5%205%200%200%200%201-2.7zm-2%200a2%202%200%201%201-4%200%202%202%200%200%201%204%200z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-42%20-663)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_present-box {
  width: 19px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M58%20486v4a1%201%200%200%201-1%201v6a1%201%200%200%201-1%201H44a1%201%200%200%201-1-1v-6a1%201%200%200%201-1-1v-4a1%201%200%200%201%201-1h2a3%203%200%200%201%205-2.22%202.98%202.98%200%200%201%205%202.22h2a1%201%200%200%201%201%201zm-7-1h2a1%201%200%201%200-2%200zm-4%200h2a1%201%200%201%200-2%200zm2%206h-4v5h4zm0-4h-5v2h5zm6%204h-4v5h4zm1-4h-5v2h5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-480)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_shopping-bag {
  width: 14px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214%22%20height%3D%2219%22%20viewBox%3D%220%200%2014%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M56%20426v10a1%201%200%200%201-1%201H45a1%201%200%200%201-1-1v-10h3v-2a3%203%200%201%201%206%200v2zm-7%200h2v-2a1%201%200%201%200-2%200zm5%202h-8v7h8z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-43%20-419)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_star {
  width: 20px;
  height: 19px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M54.33%20376a1%201%200%200%201-.49-.13L50%20373.75l-3.84%202.12a1%201%200%200%201-1.47-1.03l.74-4.57-3.14-3.23a1%201%200%200%201%20.56-1.68l4.3-.66%201.94-4.12a1%201%200%200%201%201.82%200l1.93%204.12%204.3.66a1%201%200%200%201%20.57%201.68l-3.14%203.23.74%204.57a1%201%200%200%201-.98%201.16zM50%20371.6a1%201%200%200%201%20.48.13l2.53%201.4-.5-3.03a1%201%200%200%201%20.27-.86l2.14-2.2-2.9-.44a1%201%200%200%201-.76-.57L50%20363.35l-1.26%202.68a1%201%200%200%201-.75.57l-2.91.44%202.14%202.2a1%201%200%200%201%20.27.86l-.5%203.02%202.53-1.39a1%201%200%200%201%20.48-.12z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-359)%22%2F%3E%3C%2Fsvg%3E"); }

.icon_youtube {
  width: 22px;
  height: 27px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2222%22%20height%3D%2227%22%20viewBox%3D%220%200%2022%2027%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M52.07%20903.82h-1.25v-.73c0-.33.27-.6.6-.6h.07c.33%200%20.6.27.6.6zm-4.11-1.1v3.58c0%20.26-.26.47-.58.47-.32%200-.58-.21-.58-.47v-3.57c0-.26.26-.48.58-.48.32%200%20.58.22.58.48zm7.04-2.46v6.78c0%201.63-1.4%202.96-3.1%202.96H39.1a3.05%203.05%200%200%201-3.1-2.96v-6.78c0-1.63%201.29-2.26%203-2.26h13c1.7%200%203%20.63%203%202.26zM40%20908v-7h2v-1h-5v1h2v7zm4.71-6.3l-.71.3v4c0%20.55-.58.34-.61.44-.1.3-.2%201.14-.39.56-.03-.1%200-.48%200-1v-4h-1v3c0%20.58-.02%201.8%200%202%20.03.35-.32.77%200%201%201.47-.13%201.71-.38%202-1v1h1v-6zm4.23%204.36v-3.17c0-1.21-.9-1.94-2.12-.96L47%20900h-1v8l.58-.3.1-.5c1.39%201.28%202.26.4%202.26-1.14zm4.13-.42h-.99v.71c0%20.3-.25.54-.54.54h-.2a.54.54%200%200%201-.54-.54v-1.46h2.27V904c0-.63-.02-1.26-.07-1.61-.16-1.14-1.74-1.32-2.54-.74a1.5%201.5%200%200%200-.56.75c-.11.33-.17.78-.17%201.34v1.9c0%203.15%203.8%202.7%203.34%200zm-5.2-11.8c-.02-.19-.03-.55-.03-1.1v-4.25h1.2v4.91c0%20.27.23.49.5.49.26%200%20.47-.22.47-.49v-4.91h1.16v6.32H49.7l.03-.53c-.1.21-.23.37-.37.48a.83.83%200%200%201-.51.16.92.92%200%200%201-.54-.15.9.9%200%200%201-.32-.4%201.87%201.87%200%200%201-.13-.53zm-4.34-3.04c0-.61.05-1.08.15-1.43.1-.34.28-.61.54-.82.26-.2.6-.3%201-.3.34%200%20.63.06.87.2.25.12.44.3.57.51.13.21.22.43.27.66.05.23.08.57.08%201.03v1.6a8.7%208.7%200%200%201-.07%201.3c-.05.27-.14.52-.3.76-.14.24-.33.41-.56.52-.23.12-.5.17-.8.17a2.2%202.2%200%200%201-.85-.14c-.23-.1-.41-.24-.54-.44-.13-.2-.23-.43-.28-.7-.06-.28-.08-.7-.08-1.25v-1.67zm1.15%202.5c0%20.36.27.65.59.65.32%200%20.58-.29.58-.65v-3.36c0-.36-.26-.65-.58-.65-.32%200-.59.3-.59.65zm-4.08-3.14L38.86%20886h1.5l.89%203.09.87-3.08h1.52L42%20890.16V895h-1.4z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-34%20-884)%22%2F%3E%3C%2Fsvg%3E"); }

/*--== buttons ==--*/
.butn {
  display: inline-block;
  min-width: 257px;
  text-align: center;
  background: transparent;
  padding: 21px 15px;
  line-height: 1;
  color: #1d1d1d;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 900;
  text-transform: uppercase;
  border: 2px solid #1d1d1d;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.butn:hover, .butn:focus, .butn:active {
  color: #fff;
  text-decoration: none;
  background: #1d1d1d; }

.butn_yellow {
  background: #fedd44;
  border: 2px solid #fedd44; }

.butn_yellow:hover {
  background: transparent;
  border: 2px solid #1d1d1d;
  color: #1d1d1d; }

/*--== /buttons ==--*/
/*---=== forms style ===---*/
.input-row {
  position: relative;
  margin-bottom: 30px; }

.input-row input,
.input-row textarea {
  width: 100%;
  padding: 20px 18px 19px;
  border: 2px solid #ffffff;
  background-color: transparent;
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1; }

.input-row textarea {
  min-height: 120px;
  max-height: 300px;
  max-width: 100%; }

.input-row label {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.1;
  position: absolute;
  left: 33px;
  top: 22px;
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.input-row label span {
  color: #fedd44; }

.input-row label.stay {
  font-size: 12px;
  top: -16px; }

.input-row input:focus + label, .input-row textarea:focus + label {
  font-size: 12px;
  top: -16px; }

.input-butn-row {
  text-align: center; }

header {
  background: #fedd44;
  padding: 33px 0; }

header .container {
  text-align: justify;
  line-height: 0; }

header .container:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

.header-item {
  display: inline-block;
  line-height: normal; }

.phone a {
  display: inline-block;
  color: #1d1d1d;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  position: relative;
  padding-left: 45px; }

.phone a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 34px;
  height: 31px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2234%22%20height%3D%2231%22%20viewBox%3D%220%200%2034%2031%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M422.6%2037.5l-4.53%202.62a112.56%20112.56%200%200%200%205.32%2010.78%20105.55%20105.55%200%200%200%206.6%209.95.2.2%200%200%200%20.12.04l4.48-2.6-2-3.46-1.55.9a2%202%200%200%201-2.67-.63%2097.16%2097.16%200%200%201-3.24-5.2%2093.8%2093.8%200%200%201-2.87-5.42%202%202%200%200%201%20.8-2.62l1.53-.89zm-1-1.73a2%202%200%200%201%202.73.74l2%203.46a2%202%200%200%201-.74%202.73l-1.54.9a91.9%2091.9%200%200%200%202.81%205.3%2094.93%2094.93%200%200%200%203.18%205.1l1.55-.9a2%202%200%200%201%202.74.73l2%203.46a2%202%200%200%201-.74%202.73l-4.52%202.61c-.95.55-2.26.17-2.82-.78a106.66%20106.66%200%200%201-6.58-9.95%20114.7%20114.7%200%200%201-5.32-10.72v-.06a2%202%200%200%201%20.72-2.74zM408%2056l3%206h-3l-3-6zm6%200l3%206h-3l-3-6zm6%200l3%206h-3l-3-6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-404%20-34)%22%2F%3E%3C%2Fsvg%3E"); }

.phone a:hover {
  text-decoration: none; }

.phone a:hover:after {
  -webkit-animation: moveLeft 0.3s;
          animation: moveLeft 0.3s; }

.mail a {
  display: inline-block;
  color: #1d1d1d;
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  padding-left: 45px; }

.mail a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 32px;
  height: 24px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1239%2044v-2h29v21h-29zm15%209l12-7.71V44h-25v1.2zm12-4v-1l-7.14%204.76%207.14%206.35zm-12%207l-3.76-2.32-8.13%207.32h22.78l-7.83-7.04zm-13-8v11.1l7.39-6.57z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1237%20-40)%22%2F%3E%3C%2Fsvg%3E"); }

.mail a:hover {
  text-decoration: none; }

.mail a:hover:after {
  -webkit-animation: moveLeft 0.3s;
          animation: moveLeft 0.3s; }

.logo {
  fill: #fedd44; }

.nav-icon {
  fill: #666;
  display: inline-block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  margin: 16px 0; }

.nav-icon_soc {
  margin: 0; }

#nav {
  list-style: none;
  padding: 40px 15px;
  position: fixed;
  background: #1d1d1d;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 100; }

#nav .logo {
  margin-bottom: 70px; }

#nav li {
  margin-bottom: 10px; }

#nav li.divider {
  padding-top: 50px; }

#nav a {
  display: block;
  position: relative;
  text-align: center;
  overflow: visible; }

#nav a span {
  display: none;
  padding: 17px 17px 17px 20px;
  top: 0;
  left: 100%;
  position: absolute;
  background: #fff;
  z-index: 11;
  white-space: nowrap;
  min-width: 153px;
  color: #1d1d1d;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 1.4px; }

#nav a span:before {
  right: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 6.5px 6px 6.5px 0;
  border-color: transparent #ffffff transparent transparent; }

#nav a.current .nav-icon {
  fill: #fff; }

#nav a:hover .nav-icon {
  fill: #fedd44; }

#nav a:hover span {
  display: block; }

.mCSB_container, .mCustomScrollBox {
  overflow: visible; }

#banner {
  padding: 0; }

#banner .container {
  position: relative;
  min-height: 840px; }

.banner__title {
  color: #1d1d1d;
  font-size: 120px;
  font-weight: 900;
  line-height: 1;
  padding-top: 245px;
  margin-bottom: 45px;
  position: relative;
  z-index: 9; }

.banner__title p {
  font-size: 67px; }

.banner__butn {
  position: relative;
  z-index: 9; }

.banner__img {
  position: absolute;
  right: 110px;
  top: 40px;
  z-index: 1; }

.banner__img img {
  max-width: 100%; }

.parallax {
  position: relative;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  z-index: 8; }

.parallax__layer {
  position: absolute;
  text-align: center;
  right: 0;
  top: 0;
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.parallax__layer img {
  max-width: 100%; }

#banner {
  overflow: visible; }

#banner .parallax {
  right: -50px; }

.z-index-wrap {
  position: relative;
  z-index: 9; }

section {
  overflow-x: hidden;
  padding: 100px 0; }

section .container {
  position: relative; }

.section-title {
  color: #1d1d1d;
  font-size: 50px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 5px;
  text-align: center;
  margin-bottom: 75px; }

.section-title p {
  padding-top: 20px;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 0;
  text-transform: none; }

#about .parallax {
  right: -120px;
  top: -56px; }

.text {
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6; }

.text p {
  margin-bottom: 30px; }

.details-link a {
  display: inline-block;
  color: #f2b809;
  font-size: 14px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  padding-left: 40px;
  position: relative; }

.details-link a:after {
  content: "";
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #f2b809;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.details-link a:hover {
  text-decoration: none; }

.details-link a:hover:after {
  -webkit-animation: moveLeft 0.3s;
          animation: moveLeft 0.3s; }

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden; }

.video-container embed,
.video-container iframe,
.video-container object {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#benefits {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../img/bg-about.png") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-about.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-about.png") no-repeat center;
  background-size: cover; }

#benefits .parallax {
  top: -175px;
  left: -70px; }

._color-white {
  color: #fff; }

.benefit-img {
  position: relative; }

.benefit-img img {
  position: relative;
  z-index: 9; }

.benefit-img:before {
  content: "";
  display: block;
  position: absolute;
  width: 403px;
  height: 403px;
  border: 110px solid #fedd44;
  opacity: 0.1;
  top: -150px;
  left: -150px;
  -webkit-border-radius: 50%;
          border-radius: 50%; }

.benefits-list ul {
  list-style: none; }

.benefit {
  color: #ffffff;
  font-weight: 600;
  position: relative;
  padding-left: 105px;
  min-height: 85px;
  margin-bottom: 45px;
  cursor: default; }

.benefit__icon {
  width: 83px;
  height: 83px;
  background-color: #fedd44;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  position: absolute;
  left: 0; }

.benefit__icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.benefit__title {
  font-size: 22px;
  line-height: 1.3;
  margin-bottom: 14px; }

.benefit__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5; }

.benefit:hover .benefit__icon {
  -webkit-animation: moveTop 0.3s;
          animation: moveTop 0.3s; }

#catalog .parallax {
  right: -216px; }

.product {
  display: block;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.product__img {
  max-height: 223px; }

.product__img img {
  width: 100%; }

.product__data {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 25px 15px 15px; }

.product__title {
  color: #1d1d1d;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px; }

.product__price {
  margin-bottom: 23px; }

.product__price .current {
  color: #1d1d1d;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  font-size: 24px; }

.product__price .current .descr {
  font-size: 18px; }

.product__price .old {
  color: #999;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: line-through;
  margin: 0 10px; }

.product__price .profit {
  color: #f2b809;
  font-size: 18px;
  font-weight: 900;
  line-height: 18px;
  text-transform: uppercase; }

.product__butn .butn {
  min-width: initial;
  display: block; }

.product:hover {
  text-decoration: none;
  color: #1d1d1d; }

.product:hover .product__data {
  background-color: #f1f1f1; }

.product:hover .butn {
  background: transparent;
  border: 2px solid #1d1d1d;
  color: #1d1d1d; }

#promo {
  padding-bottom: 0;
  overflow: hidden; }

#promo .container {
  padding-bottom: 100px; }

#promo .parallax {
  left: -176px; }

.floating-title {
  position: absolute; }

.promo-content__caption {
  display: inline-block;
  padding: 20px 0 25px 72px;
  background: url("../img/bg-promo-caption.png") no-repeat;
  background-size: contain;
  position: relative;
  margin-bottom: 10px; }

.promo-content__caption span {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg); }

.promo-content__caption-label {
  max-width: 60px;
  position: absolute;
  left: 4px;
  top: 5px; }

.promo-content__caption-label img {
  max-width: 100%; }

.promo-content__title {
  color: #1d1d1d;
  font-size: 50px;
  font-weight: 900;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 5px;
  max-width: 600px;
  margin-bottom: 20px; }

.promo-content__text {
  color: #666633;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 40px; }

.floating-title {
  color: rgba(0, 0, 0, 0.05);
  font-size: 214px;
  font-weight: 900;
  position: absolute;
  text-transform: uppercase;
  letter-spacing: 80px;
  line-height: 1;
  bottom: -23px;
  left: 0;
  -webkit-animation: moveLeftRight 5s infinite;
          animation: moveLeftRight 5s infinite; }

.countdown {
  display: inline-block;
  position: relative; }

.countdown:after {
  content: "";
  display: block;
  position: absolute;
  width: 100px;
  height: 41px;
  right: -75px;
  top: 90%;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%22%20height%3D%2241%22%20viewBox%3D%220%200%20100%2041%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M836.57%204010.91c-.62%202.43-1.41%204.54-1.65%206.71-.4%203.55-.48%207.13-.56%2010.7-.01.55.7%201.1%201.06%201.66.26-.6.82-1.25.72-1.77-1.27-6.3.26-12.29%201.91-18.23.25-.9%201.2-1.58%201.76-2.39.69-.97%201.32-1.98%201.98-2.97l-.48-.55c-2.42.1-4.84.27-7.27.3-8.52.12-16.79-1.02-24.44-5.2l-.19-.07c-.94-.3-2.12-1.59-2.8-.18-.7%201.45%201.02%201.61%201.88%202.04%209.12%204.48%2018.77%205.2%2028.65%204.17.39-.04.78-.06%201.49.32-.47.46-.88%201.02-1.43%201.36-10.95%206.94-21.95%2013.8-33.94%2018.9a74.01%2074.01%200%200%201-27.84%206c-8.91.18-16.93-2.85-24.23-7.84-2.42-1.65-4.54-3.72-7.03-5.48%201.47%201.62%202.76%203.45%204.42%204.85%2011.66%209.84%2025.09%2012.23%2039.75%209.83%2010.99-1.8%2021.15-5.77%2030.76-11.11%205.59-3.1%2010.81-6.84%2016.2-10.3l1.28-.75z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-743%20-3996)%22%2F%3E%3C%2Fsvg%3E"); }

.countdown__item {
  display: inline-block;
  margin-right: 12px;
  position: relative; }

.countdown__item:after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: -16px;
  width: 9px;
  height: 21px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%229%22%20height%3D%2221%22%20viewBox%3D%220%200%209%2021%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M484%203939v-6h6v6zm0%2012v-6h6v6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-482%20-3931)%22%2F%3E%3C%2Fsvg%3E");
  display: inline-block;
  font-size: 40px; }

.countdown__item:last-child:after {
  display: none; }

.countdown__item + .countdown__item {
  margin-left: 12px; }

.countdown__value {
  width: 63px;
  height: 63px;
  background-color: #1d1d1d;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  line-height: 63px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 14px; }

.countdown__value-hint {
  color: #666633;
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  text-transform: uppercase;
  text-align: center; }

.promo__butn {
  vertical-align: top;
  display: inline-block; }

.promo__butn .butn {
  min-width: 228px; }

.promo-img {
  position: relative;
  -webkit-transform: translateX(50px);
      -ms-transform: translateX(50px);
          transform: translateX(50px); }

.promo-img__buble {
  position: absolute;
  z-index: 9; }

.promo-img__buble_1 {
  top: 50px;
  left: -77px; }

.promo-img__buble_2 {
  left: 50px;
  top: -30px; }

.promo-img__buble_3 {
  left: -60px;
  top: 50%; }

.promo-img:hover .promo-img__buble_1 {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 3s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

.promo-img:hover .promo-img__buble_2 {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 2s;
  -webkit-transform-origin: 70% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

.promo-img:hover .promo-img__buble_3 {
  -webkit-animation-name: spaceboots;
  -webkit-animation-duration: 8s;
  -webkit-transform-origin: 50% 50%;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear; }

#instruction {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 0.9))), url("../img/bg-instruction.png") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-instruction.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)), url("../img/bg-instruction.png") no-repeat center;
  background-size: cover; }

#instruction .parallax {
  right: -260px;
  top: -200px; }

.instruction__video {
  position: relative;
  margin-bottom: 20px; }

.instruction__video:after {
  content: "";
  display: block;
  position: absolute;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 475px;
  height: 475px;
  background-color: #fedd44;
  z-index: 7;
  top: 50px;
  left: -17px; }

.instruction__video .video-container {
  position: relative;
  z-index: 10; }

.instruction {
  position: relative;
  z-index: 9;
  text-align: center; }

.instruction__title {
  color: #1d1d1d;
  font-size: 30px;
  font-weight: 900;
  line-height: 1.3;
  text-transform: uppercase;
  max-width: 400px;
  margin-left: 30px; }

.instruction__subtitle {
  display: inline-block;
  padding: 20px 30px 10px;
  background: url("../img/bg-promo-caption.png") no-repeat;
  background-size: cover;
  position: relative;
  margin-bottom: 90px;
  margin-left: -90px; }

.instruction__subtitle:after {
  content: "";
  display: block;
  position: absolute;
  width: 83px;
  height: 76px;
  top: 80%;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2283%22%20height%3D%2276%22%20viewBox%3D%220%200%2083%2076%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M594.61%205136.84c-1-2.3-1.65-4.45-2.79-6.32a122.46%20122.46%200%200%200-6.1-8.82c-.31-.43-1.21-.45-1.84-.66.16.63.1%201.49.51%201.84%204.85%204.22%207.3%209.89%209.62%2015.61.34.86.01%201.97.06%202.97.05%201.18.16%202.37.25%203.55l.71.14c1.86-1.56%203.67-3.16%205.57-4.67%206.68-5.3%2013.93-9.44%2022.53-10.8.07-.01.13-.04.2-.06.94-.33%202.65-.04%202.33-1.57-.33-1.57-1.8-.66-2.74-.46-9.96%202-18.03%207.33-25.23%2014.18-.29.27-.59.52-1.37.66.09-.65.07-1.35.3-1.95%204.43-12.18%208.95-24.33%2015.33-35.7a74.01%2074.01%200%200%201%2018.4-21.75c6.94-5.57%2015.15-8.07%2023.98-8.57%202.91-.17%205.86.17%208.9.05-2.15-.4-4.29-1.05-6.45-1.15-15.25-.68-27.34%205.63-37.5%2016.48-7.6%208.14-13.22%2017.49-17.57%2027.58-2.54%205.87-4.39%2012.02-6.55%2018.05-.13.37-.29.73-.55%201.37z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-582%20-5071)%22%2F%3E%3C%2Fsvg%3E"); }

.instruction__subtitle span {
  display: block;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 3px;
  position: relative;
  -webkit-transform: rotate(-4deg);
      -ms-transform: rotate(-4deg);
          transform: rotate(-4deg); }

.instruction__text {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  max-width: 484px; }

.instruction-list ol {
  list-style: none;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.6; }

.instruction-list li {
  position: relative;
  padding-left: 65px;
  margin-bottom: 20px;
  counter-increment: step-counter;
  cursor: default; }

.instruction-list li:before {
  content: counter(step-counter);
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  width: 43px;
  height: 43px;
  line-height: 43px;
  text-align: center;
  font-weight: 700;
  color: #1d1d1d;
  overflow: hidden;
  background-color: #fedd44; }

.instruction-list li:hover:before {
  -webkit-animation: moveTop 0.3s;
          animation: moveTop 0.3s; }

#gallery-section {
  overflow: hidden; }

#gallery-section .parallax {
  top: 50px;
  left: 200px; }

.masonry__item {
  margin-bottom: 30px; }

.masonry__item img {
  width: 100%; }

.gallery {
  margin-bottom: 40px; }

.gallery__item {
  position: relative;
  overflow: hidden;
  display: block; }

.gallery__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; }

.gallery__item:before {
  content: '';
  position: absolute;
  display: block;
  top: 50%;
  bottom: 50%;
  left: 50%;
  right: 50%;
  opacity: 0;
  background: rgba(254, 221, 68, 0.75);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.gallery__item:after {
  content: "";
  display: block;
  position: absolute;
  width: 74px;
  height: 73px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2274%22%20height%3D%2273%22%20viewBox%3D%220%200%2074%2073%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1385.3%205741.65a1.55%201.55%200%200%201-1.1-2.65l10.97-10.97a1.55%201.55%200%200%201%202.2%202.2l-10.97%2010.97c-.3.3-.7.45-1.1.45zm4.39%204.39a1.55%201.55%200%200%201-1.1-2.65l5.49-5.48a1.55%201.55%200%201%201%202.19%202.19l-5.48%205.48c-.3.3-.7.46-1.1.46zm-34.15%2031.96a1.55%201.55%200%200%201-1.1-2.65l18.83-18.83a27.96%2027.96%200%200%201%201.06-38.36%2027.95%2027.95%200%200%201%2039.49%200%2027.96%2027.96%200%200%201%200%2039.49%2027.9%2027.9%200%200%201-27.88%206.97%201.55%201.55%200%200%201%20.9-2.97%2024.8%2024.8%200%200%200%2024.79-6.2%2024.85%2024.85%200%200%200%200-35.1%2024.85%2024.85%200%200%200-35.1%200%2024.66%2024.66%200%200%200-7.27%2017.56c0%206.62%202.58%2012.86%207.27%2017.55.6.6.6%201.58%200%202.19l-19.9%2019.9c-.3.3-.7.45-1.1.45zm38.54-18.38c-5.8%200-11.26-2.26-15.36-6.36a21.75%2021.75%200%200%201%200-30.71c4.1-4.1%209.56-6.36%2015.36-6.36%205.8%200%2011.25%202.26%2015.35%206.36a21.75%2021.75%200%200%201%200%2030.71%2021.57%2021.57%200%200%201-15.35%206.36zm0-40.33a18.64%2018.64%200%200%200-13.16%2031.78%2018.5%2018.5%200%200%200%2013.16%205.45%2018.5%2018.5%200%200%200%2013.16-5.45%2018.64%2018.64%200%200%200-13.16-31.78z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1352%20-5706)%22%2F%3E%3C%2Fsvg%3E");
  opacity: 0;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.gallery__item:hover:before {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 1; }

.gallery__item:hover:after {
  opacity: 1; }

.__item_mb {
  margin-bottom: 30px; }

.gallery-butn {
  text-align: center; }

#contact-us {
  overflow: hidden;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.75)), to(rgba(0, 0, 0, 0.9))), url("../img/bg-contact.png") no-repeat center;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url("../img/bg-contact.png") no-repeat center;
  background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9)), url("../img/bg-contact.png") no-repeat center;
  background-size: cover; }

#contact-us .parallax {
  right: -352px;
  top: -300px; }

#mCSB_1_scrollbar_vertical {
  visibility: hidden; }

footer {
  background-color: #2b2b2b; }

.footer__top {
  text-align: justify;
  line-height: 0;
  padding: 55px 0 50px; }

.footer__top:after {
  width: 100%;
  height: 0;
  visibility: hidden;
  overflow: hidden;
  content: "";
  display: inline-block; }

.footer__top-item {
  display: inline-block;
  line-height: normal; }

.footer__top-item.phone a {
  color: #fff; }

.footer__top-item.phone a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2234%22%20height%3D%2231%22%20viewBox%3D%220%200%2034%2031%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M422.6%2037.5l-4.53%202.62a112.56%20112.56%200%200%200%205.32%2010.78%20105.55%20105.55%200%200%200%206.6%209.95.2.2%200%200%200%20.12.04l4.48-2.6-2-3.46-1.55.9a2%202%200%200%201-2.67-.63%2097.16%2097.16%200%200%201-3.24-5.2%2093.8%2093.8%200%200%201-2.87-5.42%202%202%200%200%201%20.8-2.62l1.53-.89zm-1-1.73a2%202%200%200%201%202.73.74l2%203.46a2%202%200%200%201-.74%202.73l-1.54.9a91.9%2091.9%200%200%200%202.81%205.3%2094.93%2094.93%200%200%200%203.18%205.1l1.55-.9a2%202%200%200%201%202.74.73l2%203.46a2%202%200%200%201-.74%202.73l-4.52%202.61c-.95.55-2.26.17-2.82-.78a106.66%20106.66%200%200%201-6.58-9.95%20114.7%20114.7%200%200%201-5.32-10.72v-.06a2%202%200%200%201%20.72-2.74zM408%2056l3%206h-3l-3-6zm6%200l3%206h-3l-3-6zm6%200l3%206h-3l-3-6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-404%20-34)%22%2F%3E%3C%2Fsvg%3E"); }

.footer__top-item.mail a {
  color: #fff; }

.footer__top-item.mail a:after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1239%2044v-2h29v21h-29zm15%209l12-7.71V44h-25v1.2zm12-4v-1l-7.14%204.76%207.14%206.35zm-12%207l-3.76-2.32-8.13%207.32h22.78l-7.83-7.04zm-13-8v11.1l7.39-6.57z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1237%20-40)%22%2F%3E%3C%2Fsvg%3E"); }

.location a {
  display: inline-block;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  position: relative;
  padding-left: 45px; }

.location a:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 28px;
  height: 36px;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2228%22%20height%3D%2236%22%20viewBox%3D%220%200%2028%2036%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M742%207551c-2%20.01-12-14.98-12-20a12%2012%200%200%201%2024%200c0%204.95-10.04%2020.01-12%2020zm0-30a10%2010%200%200%200-10%2010c0%204.18%208.34%2017%2010%2017%201.64%200%2010-12.88%2010-17a10%2010%200%200%200-10-10zm0%2015a5%205%200%201%201%200-10%205%205%200%200%201%200%2010zm0-8a3%203%200%201%200%200%206%203%203%200%200%200%200-6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-728%20-7517)%22%2F%3E%3C%2Fsvg%3E"); }

.location a:hover {
  text-decoration: none; }

.location a:hover:after {
  -webkit-animation: moveLeft 0.3s;
          animation: moveLeft 0.3s; }

.footer__bottom {
  border-top: 2px solid #3e3e3e;
  padding: 25px 0; }

.copyright {
  text-align: center;
  color: #666;
  font-size: 14px;
  font-weight: 400;
  line-height: 1; }

.modal-content .contacts-form-wrapper {
  position: relative; }

.close-x {
  top: 15px;
  right: 15px;
  position: absolute;
  width: 16px;
  height: 16px;
  cursor: pointer; }

.close-x:hover {
  opacity: 0.8; }

.close-x:after, .close-x:before {
  content: '';
  position: absolute;
  height: 2px;
  width: 22px;
  top: 7px;
  left: -3px;
  background: #fff; }

.close-x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.close-x:after {
  -webkit-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  transform: rotate(135deg); }

/*MEDIA QUERY*/
@media (max-width: 1796px) {
  .banner__img {
    right: 50px; } }

@media (max-width: 1796px) {
  .banner__img {
    right: 0; } }

@media (max-width: 1448px) {
  .banner__img {
    top: 100px;
    text-align: right;
    max-width: 50%; } }

@media (max-width: 1199px) {
  #banner {
    overflow: hidden; }
  .parallax {
    display: none; }
  .banner__img {
    position: relative;
    top: -170px;
    max-width: 100%;
    margin-bottom: -140px; }
  .banner__img img {
    max-width: 50%; }
  .banner__title {
    padding-top: 100px; }
  #banner .container {
    min-height: initial;
    padding-bottom: 70px; } }

@media (max-width: 991px) {
  #nav {
    padding: 0px 5px; }
  .container {
    padding-left: 65px; }
  #nav .logo {
    margin-bottom: 20px; }
  #nav .logo svg {
    width: 40px; }
  .nav-icon {
    margin: 5px 0; }
  .banner__title {
    padding-top: 50px;
    font-size: 80px;
    text-align: center; }
  .banner__title p {
    font-size: 40px; }
  .banner__img {
    padding-left: 50px;
    position: static;
    text-align: center;
    max-width: 100%;
    margin-bottom: 30px; }
  .banner__img img {
    max-width: 50%; }
  .banner__butn {
    text-align: center; }
  #banner .container {
    padding-bottom: 30px; } }

@media (max-width: 767px) {
  .banner__title {
    padding-top: 30px;
    font-size: 60px;
    text-align: center; }
  .banner__title p {
    font-size: 30px; } }

@media (max-width: 586px) {
  .header-item {
    display: block;
    text-align: center !important;
    margin-bottom: 15px; }
  .header-item.mail a {
    font-size: 14px; }
  header {
    padding: 14px 0; } }

@media (max-width: 540px) {
  .banner__title {
    padding-top: 30px;
    font-size: 35px;
    text-align: center; }
  .banner__title p {
    font-size: 25px; }
  #nav .logo svg {
    width: 30px; }
  .container {
    padding-left: 55px; }
  #banner .container {
    padding-left: 50px; } }
