/*--== buttons ==--*/
.butn {
    display: inline-block;
    min-width: 253px;
    text-align: center;
    background: transparent;
    padding: 21px 15px;
    line-height: 1;
    color: #1d1d1d;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    border: 2px solid #1d1d1d;
    @include trans;
    &:hover, &:focus, &:active{
        color: #fff;
        text-decoration: none;
        background: $c-black;
    }
    &_yellow{
        background: $c-yellow;
        border: 2px solid  $c-yellow;
        &:hover{
            background: transparent;
            border: 2px solid #1d1d1d;
            color: $c-black;
        }
    }

}
/*--== /buttons ==--*/
