main {}

#banner {
    padding: 0;
    min-height: 840px;
    overflow: visible;

    .container {
        position: relative;
    }

    .parallax {
        right: -128px;
    }
}

.banner__title {
    color: #1d1d1d;
    font-size: 120px;
    font-weight: 900;
    line-height: 1;
    padding-top: 245px;
    margin-bottom: 45px;
    position: relative;
    z-index: 9;

    p {
        font-size: 67px;
    }
}

.banner__butn {
    position: relative;
    z-index: 9;
}

.banner__img {
    position: absolute;
    right: 120px;
    top: 40px;
    z-index: 1;

    img {
        max-width: 100%;
    }
}

.parallax {
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    z-index: 8;
}

.parallax__layer {
    position: absolute;
    text-align: center;
    right: 0;
    top: 0;
    transition-delay: 0.3s;
    transition: all 0.3s;

    img {}
}

.z-index-wrap {
    position: relative;
    z-index: 9;
}

section {
    overflow: hidden;
    padding: 100px 0;

    .container {
        position: relative;
    }
}

.section-title {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 75px;

    p {
        padding-top: 20px;
        font-size: 30px;
        font-weight: 300;
        letter-spacing: 0;
        text-transform: none;
    }
}

#about {
    .parallax {
        right: -120px;
        top: -56px;
    }
}

.text {
    color: #1d1d1d;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.6;

    p {
        margin-bottom: 30px;
    }
}

.details-link {
    a {
        display: inline-block;
        color: #f2b809;
        font-size: 14px;
        font-weight: 900;
        line-height: 1;
        text-transform: uppercase;
        padding-left: 40px;
        position: relative;

        &:after {
            @include pseudo;
            width: 30px;
            height: 2px;
            background-color: #f2b809;
            left: 0;
            @include centerY;
        }

        &:hover {
            text-decoration: none;

            &:after {
                animation: moveLeft 0.3s;
            }
        }
    }
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container embed,
.video-container iframe,
.video-container object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#benefits {
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url("../img/bg-about.png") no-repeat center;
    background-size: cover;

    .parallax {
        top: -175px;
        left: -70px;
    }
}

._color-white {
    color: #fff;
}

.benefit-img {
    position: relative;

    img {
        position: relative;
        z-index: 9;
    }

    &:before {
        @include pseudo;
        width: 403px;
        height: 403px;
        border: 110px solid #fedd44;
        opacity: 0.1;
        top: -150px;
        left: -150px;
        border-radius: 50%;
    }
}

.benefits-list {
    ul {
        list-style: none;
    }
}

.benefit {
    color: #ffffff;
    font-weight: 600;
    position: relative;
    padding-left: 105px;
    min-height: 85px;
    margin-bottom: 45px;
    cursor: default;

    &__icon {
        width: 83px;
        height: 83px;
        background-color: #fedd44;
        border-radius: 50%;
        position: absolute;
        left: 0;

        img {
            position: absolute;
            @include center;
        }
    }

    &__title {
        font-size: 22px;
        line-height: 1.3;
        margin-bottom: 14px;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 1.5;
    }

    &:hover {
        .benefit__icon {
            animation: moveTop 0.3s;
        }
    }
}

#catalog {
    .parallax {
        right: -216px;
    }
}

.product {
    display: block;
    @include trans;
    margin-bottom: 30px;

    &__img {
        // min-height: 223px;
        text-align: center;

        img {
            width: 100%;
        }
    }

    &__data {
        @include trans;
        padding: 25px 15px 15px;
        position: relative;
        padding-bottom: 75px;
    }

    &__title {
        color: #1d1d1d;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__price {
        margin-bottom: 23px;

        .current {
            display: inline-block;
            color: #1d1d1d;
            font-weight: 700;
            line-height: 18px;
            text-transform: uppercase;
            font-size: 24px;

            .descr {
                font-size: 18px;
            }
        }

        .old {
            display: inline-block;
            color: #999;
            font-size: 18px;
            font-weight: 400;
            line-height: 18px;
            text-decoration: line-through;
            margin: 0 5px;
        }

        .profit {
            display: inline-block;
            color: #f2b809;
            font-size: 18px;
            font-weight: 900;
            line-height: 18px;
            text-transform: uppercase;
        }
    }

    &__butn {
        position: absolute;
        bottom: 15px;
        left: 15px;
        right: 15px;

        .butn {
            min-width: initial;
            display: block;
        }
    }

    &:hover {
        text-decoration: none;
        color: $c-black;

        .product__data,
        .product__img {
            background-color: #f1f1f1;
        }

        .butn {
            background: transparent;
            border: 2px solid #1d1d1d;
            color: $c-black;
        }
    }
}

#promo {
    padding-bottom: 0;
    overflow: hidden;

    .container {
        padding-bottom: 100px;
    }

    .parallax {
        left: -176px;
    }
}

.floating-title {
    position: absolute;
}

.promo-content {
    &__caption {
        display: inline-block;
        padding: 20px 0 25px 72px;
        background: url("../img/bg-promo-caption.png") no-repeat;
        background-size: contain;
        position: relative;
        margin-bottom: 10px;

        span {
            display: block;
            color: #fff;
            font-size: 30px;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            transform: rotate(-4deg);
        }
    }

    &__caption-label {
        max-width: 60px;
        position: absolute;
        left: 4px;
        top: 5px;

        img {
            max-width: 100%;
        }
    }

    &__title {
        color: #1d1d1d;
        font-size: 50px;
        font-weight: 900;
        line-height: 1.2;
        text-transform: uppercase;
        letter-spacing: 5px;
        max-width: 600px;
        margin-bottom: 20px;
    }

    &__text {
        color: #666633;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.5;
        margin-bottom: 40px;
    }
}

.floating-title {
    color: rgba(#000, .05);
    font-size: 214px;
    font-weight: 900;
    position: absolute;
    text-transform: uppercase;
    letter-spacing: 80px;
    line-height: 1;
    bottom: -23px;
    left: 0;
    animation: moveLeftRight 5s infinite;
}

.countdown {
    display: inline-block;
    position: relative;

    &:after {
        @include pseudo;
        width: 100px;
        height: 41px;
        right: -75px;
        top: 90%;
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%22100%22%20height%3D%2241%22%20viewBox%3D%220%200%20100%2041%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M836.57%204010.91c-.62%202.43-1.41%204.54-1.65%206.71-.4%203.55-.48%207.13-.56%2010.7-.01.55.7%201.1%201.06%201.66.26-.6.82-1.25.72-1.77-1.27-6.3.26-12.29%201.91-18.23.25-.9%201.2-1.58%201.76-2.39.69-.97%201.32-1.98%201.98-2.97l-.48-.55c-2.42.1-4.84.27-7.27.3-8.52.12-16.79-1.02-24.44-5.2l-.19-.07c-.94-.3-2.12-1.59-2.8-.18-.7%201.45%201.02%201.61%201.88%202.04%209.12%204.48%2018.77%205.2%2028.65%204.17.39-.04.78-.06%201.49.32-.47.46-.88%201.02-1.43%201.36-10.95%206.94-21.95%2013.8-33.94%2018.9a74.01%2074.01%200%200%201-27.84%206c-8.91.18-16.93-2.85-24.23-7.84-2.42-1.65-4.54-3.72-7.03-5.48%201.47%201.62%202.76%203.45%204.42%204.85%2011.66%209.84%2025.09%2012.23%2039.75%209.83%2010.99-1.8%2021.15-5.77%2030.76-11.11%205.59-3.1%2010.81-6.84%2016.2-10.3l1.28-.75z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-743%20-3996)%22%2F%3E%3C%2Fsvg%3E');
    }

    &__item {
        display: inline-block;
        margin-right: 12px;
        position: relative;

        &:after {
            @include pseudo;
            top: 20px;
            right: -16px;
            width: 9px;
            height: 21px;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%229%22%20height%3D%2221%22%20viewBox%3D%220%200%209%2021%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M484%203939v-6h6v6zm0%2012v-6h6v6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-482%20-3931)%22%2F%3E%3C%2Fsvg%3E');
            display: inline-block;
            font-size: 40px;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }

    &__item + .countdown__item {
        margin-left: 12px;
    }

    &__value {
        width: 63px;
        height: 63px;
        background-color: #1d1d1d;
        border-radius: 50%;
        line-height: 63px;
        text-align: center;
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 14px;
    }

    &__value-hint {
        color: #666633;
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        text-transform: uppercase;
        text-align: center;
    }
}

.promo__butn {
    vertical-align: top;
    display: inline-block;
    float: right;

    .butn {
        min-width: 228px;
    }
}

.promo-img {
    position: relative;
    transform: translateX(50px);

    &__buble {
        position: absolute;
        z-index: 9;
    }

    &__buble_1 {
        top: 50px;
        left: -77px;
    }

    &__buble_2 {
        left: 50px;
        top: -30px;
    }

    &__buble_3 {
        left: -60px;
        top: 50%;
    }

    &:hover {
        .promo-img__buble_1 {
            -webkit-animation-name: spaceboots;
            -webkit-animation-duration: 3s;
            -webkit-transform-origin: 50% 50%;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
        }

        .promo-img__buble_2 {
            -webkit-animation-name: spaceboots;
            -webkit-animation-duration: 2s;
            -webkit-transform-origin: 70% 50%;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
        }

        .promo-img__buble_3 {
            -webkit-animation-name: spaceboots;
            -webkit-animation-duration: 8s;
            -webkit-transform-origin: 50% 50%;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-timing-function: linear;
        }
    }
}

#instruction {
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9) ), url("../img/bg-instruction.png") no-repeat center;
    background-size: cover;

    .parallax {
        right: -260px;
        top: -200px;
    }
}

.instruction__video {
    position: relative;
    margin-bottom: 20px;
    z-index: 10;

    .video-container {
        position: relative;
        z-index: 10;
    }
}

.instruction {
    position: relative;
    z-index: 9;
    text-align: center;

    &:after {
        @include pseudo;
        border-radius: 50%;
        width: 475px;
        height: 475px;
        background-color: #fedd44;
        z-index: 5;
        top: -300px;
        left: -17px;
    }

    &__title {
        color: #1d1d1d;
        font-size: 30px;
        font-weight: 900;
        line-height: 1.3;
        text-transform: uppercase;
        max-width: 400px;
        margin-left: 30px;
        position: relative;
        z-index: 10;
    }

    &__subtitle {
        display: inline-block;
        padding: 20px 30px 10px;
        background: url("../img/bg-promo-caption.png") no-repeat;
        background-size: cover;
        position: relative;
        margin-bottom: 90px;
        margin-left: -90px;
        z-index: 10;

        &:after {
            @include pseudo;
            width: 83px;
            height: 76px;
            top: 80%;
            @include centerX;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2283%22%20height%3D%2276%22%20viewBox%3D%220%200%2083%2076%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M594.61%205136.84c-1-2.3-1.65-4.45-2.79-6.32a122.46%20122.46%200%200%200-6.1-8.82c-.31-.43-1.21-.45-1.84-.66.16.63.1%201.49.51%201.84%204.85%204.22%207.3%209.89%209.62%2015.61.34.86.01%201.97.06%202.97.05%201.18.16%202.37.25%203.55l.71.14c1.86-1.56%203.67-3.16%205.57-4.67%206.68-5.3%2013.93-9.44%2022.53-10.8.07-.01.13-.04.2-.06.94-.33%202.65-.04%202.33-1.57-.33-1.57-1.8-.66-2.74-.46-9.96%202-18.03%207.33-25.23%2014.18-.29.27-.59.52-1.37.66.09-.65.07-1.35.3-1.95%204.43-12.18%208.95-24.33%2015.33-35.7a74.01%2074.01%200%200%201%2018.4-21.75c6.94-5.57%2015.15-8.07%2023.98-8.57%202.91-.17%205.86.17%208.9.05-2.15-.4-4.29-1.05-6.45-1.15-15.25-.68-27.34%205.63-37.5%2016.48-7.6%208.14-13.22%2017.49-17.57%2027.58-2.54%205.87-4.39%2012.02-6.55%2018.05-.13.37-.29.73-.55%201.37z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fff%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-582%20-5071)%22%2F%3E%3C%2Fsvg%3E');
        }

        span {
            display: block;
            color: #fff;
            font-size: 30px;
            font-weight: 900;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 3px;
            position: relative;
            transform: rotate(-4deg);
        }
    }

    &__text {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.4;
        max-width: 484px;
        position: relative;
        z-index: 10;
        margin-bottom: 30px;
    }
}

.instruction-list {
    ol {
        list-style: none;
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6;
    }

    li {
        position: relative;
        padding-left: 65px;
        margin-bottom: 20px;
        counter-increment: step-counter;
        cursor: default;

        &:before {
            content: counter(step-counter);
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            border-radius: 50%;
            width: 43px;
            height: 43px;
            line-height: 43px;
            text-align: center;
            font-weight: 700;
            color: $c-black;
            overflow: hidden;
            background-color: #fedd44;
        }

        &:hover {
            &:before {
                animation: moveTop 0.3s;
            }
        }
    }
}

#gallery-section {
    overflow: hidden;

    .parallax {
        top: 50px;
        left: 200px;
    }
}

.masonry__item {
    margin-bottom: 30px;

    img {
        width: 100%;
    }
}

.gallery {
    margin-bottom: 40px;
}

.gallery__item {
    position: relative;
    overflow: hidden;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: '';
        position: absolute;
        display: block;
        top: 50%;
        bottom: 50%;
        left: 50%;
        right: 50%;
        opacity: 0;
        background: rgba($c-yellow, .75);
        @include trans;
    }

    &:after {
        @include pseudo;
        width: 74px;
        height: 73px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2274%22%20height%3D%2273%22%20viewBox%3D%220%200%2074%2073%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1385.3%205741.65a1.55%201.55%200%200%201-1.1-2.65l10.97-10.97a1.55%201.55%200%200%201%202.2%202.2l-10.97%2010.97c-.3.3-.7.45-1.1.45zm4.39%204.39a1.55%201.55%200%200%201-1.1-2.65l5.49-5.48a1.55%201.55%200%201%201%202.19%202.19l-5.48%205.48c-.3.3-.7.46-1.1.46zm-34.15%2031.96a1.55%201.55%200%200%201-1.1-2.65l18.83-18.83a27.96%2027.96%200%200%201%201.06-38.36%2027.95%2027.95%200%200%201%2039.49%200%2027.96%2027.96%200%200%201%200%2039.49%2027.9%2027.9%200%200%201-27.88%206.97%201.55%201.55%200%200%201%20.9-2.97%2024.8%2024.8%200%200%200%2024.79-6.2%2024.85%2024.85%200%200%200%200-35.1%2024.85%2024.85%200%200%200-35.1%200%2024.66%2024.66%200%200%200-7.27%2017.56c0%206.62%202.58%2012.86%207.27%2017.55.6.6.6%201.58%200%202.19l-19.9%2019.9c-.3.3-.7.45-1.1.45zm38.54-18.38c-5.8%200-11.26-2.26-15.36-6.36a21.75%2021.75%200%200%201%200-30.71c4.1-4.1%209.56-6.36%2015.36-6.36%205.8%200%2011.25%202.26%2015.35%206.36a21.75%2021.75%200%200%201%200%2030.71%2021.57%2021.57%200%200%201-15.35%206.36zm0-40.33a18.64%2018.64%200%200%200-13.16%2031.78%2018.5%2018.5%200%200%200%2013.16%205.45%2018.5%2018.5%200%200%200%2013.16-5.45%2018.64%2018.64%200%200%200-13.16-31.78z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1352%20-5706)%22%2F%3E%3C%2Fsvg%3E');
        opacity: 0;
        @include trans;
    }

    &:hover {
        &:before {
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            opacity: 1;
        }

        &:after {
            opacity: 1;
        }
    }
}

.__item_mb {
    margin-bottom: 30px;
}

.gallery-butn {
    text-align: center;
}

#contact-us {
    overflow: hidden;
    background: linear-gradient( rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.9) ), url("../img/bg-contact.png") no-repeat center;
    background-size: cover;

    .parallax {
        right: -352px;
        top: -300px;
    }
}

#mCSB_1_scrollbar_vertical {
    visibility: hidden;
}

#card {
    .parallax {
        right: -162px;
    }
}

.product-slider__img {
    display: inline-block;

    img {
        max-width: 100%;
    }
}
.product-slider-wrap{
    margin-bottom: 30px;
}
.product-slider {
    padding-right: 20px;
    position: relative;
    line-height: 0;

    .slick-arrow {
        cursor: pointer;
        position: absolute;
        bottom: 0;
        height: 60px;
        width: 55px;
        z-index: 999;
        color: #666;
        font-size: 16px;
        line-height: 1;
        background-color: #1d1d1d;
        @include trans;

        span {
            position: absolute;
            @include center;
        }

        &:hover {
            color: $c-yellow;
        }
    }

    .slick-arrow-right {
        right: 0;
    }

    .slick-arrow-left {
        right: 55px;

        &:after {
            @include pseudo;
            right: 0;
            width: 1px;
            height: 10px;
            background-color: #454545;
            @include centerY;
        }
    }
}

.product-card {
    &__price {
        margin-bottom: 25px;
        padding-bottom: 20px;
        border-bottom: 2px solid #e5e5e5;

        .current {
            display: inline-block;
            color: #1d1d1d;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;
            font-size: 50px;

            .descr {
                font-size: 36px;
            }
        }

        .old {
            display: inline-block;
            color: #999;
            font-size: 36px;
            font-weight: 300;
            line-height: 1;
            text-decoration: line-through;
            margin: 0 15px;
        }

        .profit {
            display: inline-block;
            color: #f2b809;
            font-size: 36px;
            font-weight: 900;
            line-height: 18px;
            text-transform: uppercase;
        }
    }

    &__color {
        margin-bottom: 20px;
    }

    &__color-title {
        display: inline-block;
        color: #999;
        font-size: 18px;
        font-weight: 400;
        line-height: 25px;
        vertical-align: middle;
        margin-right: 30px;
    }

    &__color-item {
        display: inline-block;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid #e5e5e5;
        vertical-align: middle;

        &_wh {
            background: #fff;
        }

        &_gd {
            background: #e0c1a5;
        }

        &_pink {
            background: #e0afa5;
        }

        &_red {
            background: #f54a4a;
        }

        &_black {
            background: #1d1d1d;
        }
    }

    &__description {
        color: #1d1d1d;
        font-size: 18px;
        font-weight: 400;
        line-height: 1.4;
        margin-bottom: 30px;
    }
}
