footer {
    background-color: #2b2b2b;
}

.footer__top {
    text-align: justify;
    line-height: 0;
    padding: 55px 0 50px;

    &:after {
        width: 100%;
        height: 0;
        visibility: hidden;
        overflow: hidden;
        content: "";
        display: inline-block;
    }
}

.footer__top-item {
    display: inline-block;
    line-height: normal;

    &.phone {
        a {
            color: #fff;

            &:after {
                background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2234%22%20height%3D%2231%22%20viewBox%3D%220%200%2034%2031%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M422.6%2037.5l-4.53%202.62a112.56%20112.56%200%200%200%205.32%2010.78%20105.55%20105.55%200%200%200%206.6%209.95.2.2%200%200%200%20.12.04l4.48-2.6-2-3.46-1.55.9a2%202%200%200%201-2.67-.63%2097.16%2097.16%200%200%201-3.24-5.2%2093.8%2093.8%200%200%201-2.87-5.42%202%202%200%200%201%20.8-2.62l1.53-.89zm-1-1.73a2%202%200%200%201%202.73.74l2%203.46a2%202%200%200%201-.74%202.73l-1.54.9a91.9%2091.9%200%200%200%202.81%205.3%2094.93%2094.93%200%200%200%203.18%205.1l1.55-.9a2%202%200%200%201%202.74.73l2%203.46a2%202%200%200%201-.74%202.73l-4.52%202.61c-.95.55-2.26.17-2.82-.78a106.66%20106.66%200%200%201-6.58-9.95%20114.7%20114.7%200%200%201-5.32-10.72v-.06a2%202%200%200%201%20.72-2.74zM408%2056l3%206h-3l-3-6zm6%200l3%206h-3l-3-6zm6%200l3%206h-3l-3-6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-404%20-34)%22%2F%3E%3C%2Fsvg%3E');
            }
        }
    }

    &.mail {
        a {
            color: #fff;

            &:after {
                background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1239%2044v-2h29v21h-29zm15%209l12-7.71V44h-25v1.2zm12-4v-1l-7.14%204.76%207.14%206.35zm-12%207l-3.76-2.32-8.13%207.32h22.78l-7.83-7.04zm-13-8v11.1l7.39-6.57z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1237%20-40)%22%2F%3E%3C%2Fsvg%3E');
            }
        }
    }
}

.location {
    a {
        display: inline-block;
        color: #fff;
        font-family: "Open Sans", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        position: relative;
        padding-left: 45px;

        &:after {
            @include pseudo;
            left: 0;
            @include centerY;
            width: 28px;
            height: 36px;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2228%22%20height%3D%2236%22%20viewBox%3D%220%200%2028%2036%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M742%207551c-2%20.01-12-14.98-12-20a12%2012%200%200%201%2024%200c0%204.95-10.04%2020.01-12%2020zm0-30a10%2010%200%200%200-10%2010c0%204.18%208.34%2017%2010%2017%201.64%200%2010-12.88%2010-17a10%2010%200%200%200-10-10zm0%2015a5%205%200%201%201%200-10%205%205%200%200%201%200%2010zm0-8a3%203%200%201%200%200%206%203%203%200%200%200%200-6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-728%20-7517)%22%2F%3E%3C%2Fsvg%3E');
        }

        &:hover {
            text-decoration: none;

            &:after {
                animation: moveLeft 0.3s;
            }
        }
    }
}

.footer__bottom {
    border-top: 2px solid #3e3e3e;
    padding: 25px 0;
}

.copyright {
    text-align: center;
    color: #666;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
}
