/*---=== forms style ===---*/
.input-row {
    position: relative;
    margin-bottom: 30px;

    input,
    textarea {
        width: 100%;
        padding: 20px 18px 19px;
        border: 2px solid #ffffff;
        background-color: transparent;
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1;
    }

    textarea {
        min-height: 120px;
        max-height: 300px;
        max-width: 100%;
    }

    label {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        line-height: 1.1;
        position: absolute;
        left: 33px;
        top: 22px;
        pointer-events: none;
        @include trans;

        span {
            color: $c-yellow;
        }

        &.stay {
            font-size: 12px;
            top: -16px;
        }
    }

    input:focus + label,
    textarea:focus + label {
        font-size: 12px;
        top: -16px;
    }
}

.input-butn-row {
    text-align: center;
}
.modal-backdrop.in {
    filter: alpha(opacity=90);
    opacity: 0.9;
}
.modal-dialog{
    margin: 70px auto 0;
}
.modal-content {
    box-shadow: none;
    padding: 50px 30px;
    border-radius: 0;
    position: relative;

    input,
    label,
    textarea {
        border-color: #e5e5e5;
        color: #999999;
    }
    &:before{
        @include pseudo;
        width: 108px;
        height: 131px;
        background: url(../img/formdecor.png)no-repeat;
        background-size: contain;
        bottom: -70px;
        left: -60px;
    }
}

.form-hint {
    color: #f2b809;
    font-size: 14px;
}

.form-title {
    color: #1d1d1d;
    font-size: 50px;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
}

.input-title {
    display: inline-block;
    color: #999999;
    font-size: 18px;
    font-weight: 400;
    line-height: 1;
    vertical-align: middle;
    margin-right: 30px;
}

.jq-checkbox {
    display: inline-block;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #e5e5e5;
    vertical-align: middle;
    position: relative;

    input {
        display: none;
    }

    &.checked {
        &:before {
            @include pseudo;
            height: 8px;
            width: 12px;
            border-left: 2px solid #e5e5e5;
            border-bottom: 2px solid #e5e5e5;
            transform: rotate(-45deg);
            top: 5px;
            left: 5px;
        }
    }

    &.wh {
        background: #fff;
    }

    &.gd {
        background: #e0c1a5;
    }

    &.pink {
        background: #e0afa5;
    }

    &.red {
        background: #f54a4a;
    }

    &.black {
        background: #1d1d1d;
    }
}

.jq-number {
    display: inline-block;
    vertical-align: middle;
    position: relative;


    input {
        padding: 0;
        border: none;
        background-color: transparent;
        font-size: 16px;
        font-weight: 400;
        line-height: 1;
        -moz-appearance: textfield;
        text-align: center;
        &::-webkit-inner-spin-button, &::-webkit-outer-spin-button{
            margin: 0;
        	-webkit-appearance: none;
        }
    }
    &__field{
        vertical-align: middle;
        display: inline-block;
        width: 70px;
        overflow: hidden;
        display: inline-block;

    }
}

.jq-number__spin{
    position: absolute;
    height: 100%;
    width: 20px;
    cursor: pointer;
    top: 0;

    &:before{
        @include pseudo;
        width: 6px;
        height: 6px;
        border-left: 2px solid #666;
        border-bottom: 2px solid #666;
        transform: rotate(45deg);
        top:50%;
        left: 50%;
        margin: -3px 0 0 -3px;
        @include trans;
    }
    &.minus{
        left: 0;
    }
    &.plus{
        right: 0;
        &:before{
            transform: rotate(-135deg);
        }
    }
    &:hover{
        &:before{
            border-color: $c-yellow;
        }
    }
}
.close-x{
    position: absolute;
    width: 41px;
    height: 72px;
    right: -40px;
    top: -35px;
    background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2241%22%20height%3D%2272%22%20viewBox%3D%220%200%2041%2072%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1379%20294a5%205%200%201%201%200%2010%205%205%200%200%201%200-10z%22%2F%3E%3Cpath%20id%3D%22b%22%20d%3D%22M1377.02%20235c10.48%200%2018.98%208.73%2018.98%2019.5s-8.5%2019.5-18.98%2019.5c-4.07%200-7.85-1.32-10.94-3.57-.7-.23-1.2-.9-1.2-1.69l-.01-.16c0-.98.77-1.77%201.73-1.77.53%200%201.02.25%201.33.65a15.2%2015.2%200%200%200%209.07%203c8.59%200%2015.55-7.16%2015.55-15.99s-6.96-15.98-15.55-15.98c-8.6%200-15.55%207.15-15.55%2015.98%200%202.44.53%204.75%201.48%206.82l-.27.27c.63.27%201.08.9%201.08%201.65l.01.16c0%20.98-.77%201.77-1.72%201.77-.8%200-1.46-.54-1.66-1.29a19.84%2019.84%200%200%201-2.32-9.35c0-10.77%208.5-19.5%2018.97-19.5zm4.94%2026.95l-4.94-5.05-4.93%205.1c-.68.7-1.77.7-2.44%200a1.8%201.8%200%200%201%200-2.5l4.94-5.08-4.97-5.09a1.8%201.8%200%200%201%200-2.5%201.7%201.7%200%200%201%202.44%200l4.96%205.1%204.94-5.08a1.7%201.7%200%200%201%202.44%200c.68.69.64%201.77-.04%202.46l-4.93%205.1%204.93%205.07c.68.7.68%201.81%200%202.5-.67.7-1.72.66-2.4-.03z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1356%20-233)%22%2F%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23b%22%20transform%3D%22translate(-1356%20-233)%22%2F%3E%3C%2Fsvg%3E');
    &:hover{
        background-image:url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2241%22%20height%3D%2272%22%20viewBox%3D%220%200%2041%2072%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1379%20294a5%205%200%201%201%200%2010%205%205%200%200%201%200-10z%22%2F%3E%3Cpath%20id%3D%22b%22%20d%3D%22M1377.02%20235c10.48%200%2018.98%208.73%2018.98%2019.5s-8.5%2019.5-18.98%2019.5c-4.07%200-7.85-1.32-10.94-3.57-.7-.23-1.2-.9-1.2-1.69l-.01-.16c0-.98.77-1.77%201.73-1.77.53%200%201.02.25%201.33.65a15.2%2015.2%200%200%200%209.07%203c8.59%200%2015.55-7.16%2015.55-15.99s-6.96-15.98-15.55-15.98c-8.6%200-15.55%207.15-15.55%2015.98%200%202.44.53%204.75%201.48%206.82l-.27.27c.63.27%201.08.9%201.08%201.65l.01.16c0%20.98-.77%201.77-1.72%201.77-.8%200-1.46-.54-1.66-1.29a19.84%2019.84%200%200%201-2.32-9.35c0-10.77%208.5-19.5%2018.97-19.5zm4.94%2026.95l-4.94-5.05-4.93%205.1c-.68.7-1.77.7-2.44%200a1.8%201.8%200%200%201%200-2.5l4.94-5.08-4.97-5.09a1.8%201.8%200%200%201%200-2.5%201.7%201.7%200%200%201%202.44%200l4.96%205.1%204.94-5.08a1.7%201.7%200%200%201%202.44%200c.68.69.64%201.77-.04%202.46l-4.93%205.1%204.93%205.07c.68.7.68%201.81%200%202.5-.67.7-1.72.66-2.4-.03z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23ff4500%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1356%20-233)%22%2F%3E%3Cuse%20fill%3D%22%23fedd44%22%20xlink%3Ahref%3D%22%23b%22%20transform%3D%22translate(-1356%20-233)%22%2F%3E%3C%2Fsvg%3E');
    }

}
