header {
    background: $c-yellow;
    padding: 33px 0;

    .container {
        text-align: justify;
        line-height: 0;

        &:after {
            width: 100%;
            height: 0;
            visibility: hidden;
            overflow: hidden;
            content: "";
            display: inline-block;
        }
    }
}

.header-item {
    display: inline-block;
    line-height: normal;
}

.phone {
    a {
        display: inline-block;
        color: #1d1d1d;
        font-family: "Open Sans", sans-serif;
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        position: relative;
        padding-left: 45px;

        &:after {
            @include pseudo;
            left: 0;
            @include centerY;
            width: 34px;
            height: 31px;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2234%22%20height%3D%2231%22%20viewBox%3D%220%200%2034%2031%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M422.6%2037.5l-4.53%202.62a112.56%20112.56%200%200%200%205.32%2010.78%20105.55%20105.55%200%200%200%206.6%209.95.2.2%200%200%200%20.12.04l4.48-2.6-2-3.46-1.55.9a2%202%200%200%201-2.67-.63%2097.16%2097.16%200%200%201-3.24-5.2%2093.8%2093.8%200%200%201-2.87-5.42%202%202%200%200%201%20.8-2.62l1.53-.89zm-1-1.73a2%202%200%200%201%202.73.74l2%203.46a2%202%200%200%201-.74%202.73l-1.54.9a91.9%2091.9%200%200%200%202.81%205.3%2094.93%2094.93%200%200%200%203.18%205.1l1.55-.9a2%202%200%200%201%202.74.73l2%203.46a2%202%200%200%201-.74%202.73l-4.52%202.61c-.95.55-2.26.17-2.82-.78a106.66%20106.66%200%200%201-6.58-9.95%20114.7%20114.7%200%200%201-5.32-10.72v-.06a2%202%200%200%201%20.72-2.74zM408%2056l3%206h-3l-3-6zm6%200l3%206h-3l-3-6zm6%200l3%206h-3l-3-6z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-404%20-34)%22%2F%3E%3C%2Fsvg%3E');
        }

        &:hover {
            text-decoration: none;

            &:after {
                animation: moveLeft 0.3s;
            }
        }
    }
}

.mail {
    a {
        display: inline-block;
        color: #1d1d1d;
        font-family: "Open Sans";
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        position: relative;
        padding-left: 45px;

        &:after {
            @include pseudo;
            left: 0;
            @include centerY;
            width: 32px;
            height: 24px;
            background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2232%22%20height%3D%2224%22%20viewBox%3D%220%200%2032%2024%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M1239%2044v-2h29v21h-29zm15%209l12-7.71V44h-25v1.2zm12-4v-1l-7.14%204.76%207.14%206.35zm-12%207l-3.76-2.32-8.13%207.32h22.78l-7.83-7.04zm-13-8v11.1l7.39-6.57z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%231d1d1d%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-1237%20-40)%22%2F%3E%3C%2Fsvg%3E');
        }

        &:hover {
            text-decoration: none;

            &:after {
                animation: moveLeft 0.3s;
            }
        }
    }
}

.logo {
    fill: #fedd44;
}

.nav-icon {
    fill: #666;
    display: inline-block;
    @include trans;
    margin: 16px 0;
    &_soc{
        margin: 0;
    }

}

#nav {
    list-style: none;
    padding: 40px 15px;
    position: fixed;
    background: $c-black;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    @include trans;

    .logo {
        margin-bottom: 70px;
    }

    li {
        margin-bottom: 10px;
        &.divider{
            padding-top: 50px;
        }
    }
    a {
        display: block;
        position: relative;
        text-align: center;
         overflow:visible;
        span {
            display: none;
            padding: 17px 17px 17px 20px;



            top: 0;
            left: 100%;
            position: absolute;
            background: #fff;
            z-index: 11;
            white-space: nowrap;
            min-width: 153px;
            color: #1d1d1d;
            font-size: 14px;
            font-weight: 600;
            line-height: 1;
            text-transform: uppercase;
            letter-spacing: 1.4px;


            &:before {
                right: 100%;
                @include centerY;
                @include pseudo;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 6.5px 6px 6.5px 0;
                border-color: transparent #ffffff transparent transparent;
            }
        }

        &.current {
            .nav-icon {
                fill: #fff;
            }
        }

        &:hover {
            .nav-icon {
                fill: $c-yellow;
            }

            span {
                display: block;
            }
        }
    }
}
.mCSB_container, .mCustomScrollBox{
    overflow:visible;
}
// #hamburger {
// 	display: none;
// 	float: right;
// 	width: 30px;
// 	height: 18px;
// 	position: relative;
// 	margin: 26px 0 14px;
// 	-webkit-transform: rotate(0deg);
// 	-moz-transform: rotate(0deg);
// 	-o-transform: rotate(0deg);
// 	transform: rotate(0deg);
// 	-webkit-transition: .5s ease-in-out;
// 	-moz-transition: .5s ease-in-out;
// 	-o-transition: .5s ease-in-out;
// 	transition: .5s ease-in-out;
// 	cursor: pointer;
// 	span {
// 		display: block;
// 		position: absolute;
// 		height: 2px;
// 		width: 100%;
// 		background: $color-brand;
// 		//border-radius: 9px;
// 		opacity: 1;
// 		left: 0;
// 		-webkit-transform: rotate(0deg);
// 		-moz-transform: rotate(0deg);
// 		-o-transform: rotate(0deg);
// 		transform: rotate(0deg);
// 		-webkit-transition: .25s ease-in-out;
// 		-moz-transition: .25s ease-in-out;
// 		-o-transition: .25s ease-in-out;
// 		transition: .25s ease-in-out;
// 	}
// }
// #hamburger span:nth-child(1) {
// 	top: 0;
// }
// #hamburger span:nth-child(2),#hamburger span:nth-child(3) {
// 	top: 9px;
// }
// #hamburger span:nth-child(4) {
// 	top: 18px;
// }
// #hamburger.open span:nth-child(1) {
// 	top: 9px;
// 	width: 0;
// 	left: 50%;
// }
// #hamburger.open span:nth-child(2) {
// 	-webkit-transform: rotate(45deg);
// 	-moz-transform: rotate(45deg);
// 	-o-transform: rotate(45deg);
// 	transform: rotate(45deg);
// }
// #hamburger.open span:nth-child(3) {
// 	-webkit-transform: rotate(-45deg);
// 	-moz-transform: rotate(-45deg);
// 	-o-transform: rotate(-45deg);
// 	transform: rotate(-45deg);
// }
// #hamburger.open span:nth-child(4) {
// 	top: 9px;
// 	width: 0;
// 	left: 50%;
// }
