/*MEDIA QUERY*/
@media (max-width: 1796px) {
    .banner__img {
        right: 0;
        max-width: 45%;
    }
}
@media (max-width: 1448px) {
    .banner__img {
        top: 100px;
        text-align: right;
        max-width: 40%;
    }
    #banner{
            min-height: 768px;
        overflow: hidden;
        .parallax{
            img{
                max-width: 100%;
            }
        }
    }
}
@media (max-width: 1199px) {
    #banner{
            min-height: initial;
        }
    .parallax {
        display: none;
    }

    .banner__img {
        position: relative;
        top: -150px;
        max-width: 100%;
        right: 50px;
        margin-bottom: -140px;

        img {
            max-width: 40%;
        }
    }

    .banner__title {
        padding-top: 100px;
    }

    #banner {
        .container {
            min-height: initial;
            padding-bottom: 70px;
        }
    }

    .promo__butn {
        float: none;
    }

    .countdown {
        margin-bottom: 30px;

        &:after {
            display: none;
        }
    }

    .promo-img {
        transform: translateX(0);

        img {
            max-width: 130%;
        }
    }

    .footer__top-item {
        a {
            font-size: 16px;
        }
    }
    .product-card {
        &__price {
            .current {
                font-size: 45px;
                .descr {
                    font-size: 16px;
                }
            }
            .old {
                font-size: 30px;

            }
            .profit {
                font-size: 30px;

            }
        }
    }
}
@media (max-width: 991px) {
    #nav {
        padding: 0 5px;
    }

    .container {
        padding-left: 65px;
    }

    #nav .logo {
        margin-bottom: 20px;

        svg {
            width: 40px;
        }
    }

    .nav-icon {
        margin: 5px 0;
    }

    .banner__title {
        padding-top: 50px;
        font-size: 80px;
        text-align: center;

        p {
            font-size: 40px;
        }
    }

    .banner__img {
        padding-left: 50px;
        position: static;
        text-align: center;
        max-width: 100%;
        margin-bottom: 30px;

        img {
            max-width: 50%;
        }
    }

    .banner__butn {
        text-align: center;
    }

    #banner .container {
        padding-bottom: 30px;
    }

    section {
        padding: 50px 0;
    }

    .video-container {
        margin-bottom: 30px;
    }

    .benefit-img {
        display: none;
    }

    .promo-content__title {
        font-size: 40px;
    }

    .promo-img {
        text-align: center;

        img {
            max-width: 100%;
        }
    }

    .promo-img__buble_1 {
        left: 0;
        width: 70px;
    }

    .promo-img__buble_2 {
        top: 0;
        left: 100px;
        width: 70px;
    }

    .promo-img__buble_3 {
        display: none;
    }

    .floating-title {
        display: none;
    }

    .promo__butn {
        margin-bottom: 30px;
    }

    #promo .container {
        padding-bottom: 50px;
    }

    #gallery-section {
        [class*='col-'] {
            margin-bottom: 30px;
        }

        .__item_mb {
            margin-bottom: 0;
        }

        .col-md-6.eq__item {
            margin-bottom: 0;
        }
    }
    footer{
    text-align: center;
    }
    .footer__top{
        display: inline-block;
        padding: 40px 0 25px;
    }
    .footer__top-item{
        text-align: left;
        display: block;
        margin-bottom: 15px;

        a{
            font-size: 16px;
        }
    }
    .product-slider {
        padding-right: 0;
    }
}
@media (min-width: 768px){

.modal-dialog {
    width: 790px;
}

}
@media (max-width: 767px) {
    .banner__title {
        padding-top: 30px;
        font-size: 60px;
        text-align: center;

        p {
            font-size: 30px;
        }
    }

    .section-title {
        font-size: 40px;
        margin-bottom: 50px;

        p {
            font-size: 24px;
        }
    }
}
@media (max-width: 670px) {
    .countdown {
        display: block;
        text-align: center;
    }

    .promo__butn {
        text-align: center;
        display: block;
    }
}
@media (max-width: 592px) {
    #catalog {
        [class*='col-'] {
            width: 100%;
        }
    }
}
@media (max-width: 586px) {
    .header-item {
        display: block;
        text-align: center!important;
        margin-bottom: 15px;

        &.mail {
            a {
                font-size: 14px;
            }
        }
    }

    header {
        padding: 14px 0 0;
    }
}
@media (max-width: 540px) {
    .banner__title {
        padding-top: 30px;
        font-size: 35px;
        text-align: center;

        p {
            font-size: 25px;
        }
    }

    #nav .logo {
        svg {
            width: 30px;
        }
    }

    .container {
        padding-left: 55px;
    }

    #banner {
        .container {
            padding-left: 50px;
        }
    }

    .text {
        font-size: 16px;
    }

    .section-title {
        font-size: 30px;
        margin-bottom: 50px;

        p {
            padding-top: 10px;
            font-size: 19px;
        }
    }

    .benefit__icon {
        width: 70px;
        height: 70px;
    }

    .promo-content__caption span {
        font-size: 25px;
    }

    .instruction__subtitle {
        margin-left: 0;
    }

    .instruction__title {
        font-size: 24px;
    }
    .product-card {
        &__price {
            margin-bottom: 15px;
            padding-bottom: 10px;
            .current {
                font-size: 24px;
                .descr {
                    font-size: 16px;
                }
            }
            .old {
                font-size: 20px;
                margin: 0 5px;
            }
            .profit {
                font-size: 24px;
                font-weight: 700;
            }
        }
    }
}
@media (max-width: 486px) {
    .benefit {
        padding-left: 0;
        text-align: center;

        &__icon {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
        }
    }

    #nav .logo {
        margin-bottom: 0;
    }

    .nav-icon {
        margin: 0;
    }

    #nav .logo svg {
        width: 26px;
    }

    .promo-content__title {
        font-size: 27px;
        letter-spacing: 3px;
    }

    .promo-content__caption span {
        font-size: 13px;
    }

    .countdown__item {
        margin-right: 8px;
    }

    .countdown__value {
        width: 42px;
        height: 42px;
        line-height: 42px;
        font-size: 27px;
    }

    .countdown__value-hint {
        font-size: 10px;
    }

    .countdown__item:after {
        top: 10px;
    }

    .section-title {
        font-size: 23px;
        letter-spacing: 3px;
    }

    .instruction {
        &:after {
            width: 400px;
            height: 400px;
            top: -200px;
            @include centerX;
        }
    }

    .instruction__title {
        margin-left: 0;
    }

    .instruction-list ol {
        font-size: 14px;

        li {
            padding-left: 40px;

            &:before {
                width: 30px;
                height: 30px;
                line-height: 30px;
            }
        }
    }
}
@media (max-width: 540px) {}
@media (max-width: 490px) {}
@media (max-width: 380px) {}
