* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;

	&:active,
	&:focus {
		outline: none!important;
		text-decoration: none!important;
	}
}

html {
	height: 100%;
	overflow-x: hidden;
}

body {
	min-height: 100%;
	background: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 16px;
	padding-right: 0!important;

}
.container{
	padding-left: 97px;
}


.clearfix:after,
.clearfix:before {
	content: ' ';
	display: table;
	clear: both;
}
$c-yellow: #fedd44;
$c-black: #1d1d1d;
@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}
@mixin fs($sizeValue: 1.6) {
	font-size: ($sizeValue) + px;
	font-size: ($sizeValue/10) + rem;
}
@mixin trans($type: all .3s ease-in-out ) {
	transition: $type;
}
@mixin center() {
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
@mixin centerY() {
	top: 50%;
	transform: translateY(-50%);
}
@mixin centerX() {
	left: 50%;
	transform: translateX(-50%);
}

h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
	margin: 0;
	padding: 0;
}

.row-eq-height {
	height: 100%;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}
@keyframes moveTop {
	0% {
		top: 0;
	}

	50% {
		top: -20px;
	}

	100% {
		top: 0;
	}
}
@keyframes moveLeft {
	0% {
		left: 0;
	}

	50% {
		left: -20px;
	}

	100% {
		left: 0;
	}
}
@keyframes moveLeftRight {
	0% {
		left: 0;
	}


	50% {
		left: 50px;
	}


	100% {
		left: 0;
	}
}
@-webkit-keyframes spaceboots {
	0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
	10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
	20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
	30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
	40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
	50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
	60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
	70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
	80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
	90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
	100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}

._bg-yellow {
	background-color: $c-yellow;
}

.icon_house {
	width: 20px;
	height: 19px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M57.7%20246.69c-.39.39-.99.42-1.38.03l-.3-.3V253a1%201%200%200%201-1%201H45a1%201%200%200%201-1-1v-6.6l-.34.35c-.4.39-.97.33-1.36-.06a.98.98%200%200%201-.02-1.4l7.01-7a1%201%200%200%201%201.42%200l4.99%204.98.05.05%201.97%201.97c.4.4.37%201-.02%201.4zm-3.68-2.27l-4.02-4-4%203.98v7.6h3v-3h2.01v3h3z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-236)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_cog {
	width: 18px;
	height: 20px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2218%22%20height%3D%2220%22%20viewBox%3D%220%200%2018%2020%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M58%20549v4a1%201%200%200%201-1%201h-1.84l.88%201.52a.99.99%200%200%201-.36%201.35l-3.43%201.99a1%201%200%200%201-1.36-.37l-.89-1.54-.9%201.54a1%201%200%200%201-1.35.37l-3.43-1.99a.99.99%200%200%201-.36-1.35l.88-1.52H43a1%201%200%200%201-1-1v-4a1%201%200%200%201%201-1h1.84l-.88-1.52a.99.99%200%200%201%20.36-1.35l3.43-1.99a1%201%200%200%201%201.36.37l.89%201.54.9-1.54a1%201%200%200%201%201.35-.37l3.43%201.99c.47.27.64.87.36%201.35l-.88%201.52H57a1%201%200%200%201%201%201zm-2%201h-1.62c-.2-.9-.67-1.7-1.33-2.3l.78-1.35-1.71-1-.78%201.35a4.51%204.51%200%200%200-2.68%200l-.78-1.34-1.71.99.78%201.35c-.66.6-1.13%201.4-1.33%202.3H44v2h1.62c.2.9.68%201.7%201.33%202.3l-.78%201.35%201.71%201%20.79-1.36a4.49%204.49%200%200%200%202.66%200l.79%201.35%201.71-.99-.78-1.35c.65-.6%201.13-1.4%201.33-2.3H56zm-4%20.99a2%202%200%201%201-4%200%202%202%200%200%201%204%200z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-41%20-541)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_fb {
	width: 13px;
	height: 22px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2213%22%20height%3D%2222%22%20viewBox%3D%220%200%2013%2022%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M46.98%20807H43v-9.5h-2v-3.28h2v-1.96c0-2.68%201.13-4.26%204.33-4.26h2.66v3.27h-1.66c-1.25%200-1.33.46-1.33%201.31v1.64h3l-.35%203.28h-2.67v9.5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-39%20-786)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_file {
	width: 16px;
	height: 19px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2216%22%20height%3D%2219%22%20viewBox%3D%220%200%2016%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M52%20309a1%201%200%200%201%200%202h-4a1%201%200%201%201%200-2zm-5-3a1%201%200%200%201%201-1h1a1%201%200%201%201%200%202h-1a1%201%200%200%201-1-1zm10-2v10a1%201%200%200%201-1%201H44a1%201%200%200%201-1-1v-14a1%201%200%200%201%201-1h8a1%201%200%200%201%20.7.3l4%204a1%201%200%200%201%20.3.7zm-4-1h.59l-.59-.59zm2%202h-3a1%201%200%200%201-1-1v-3h-6v12h10z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-42%20-297)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_galery {
	width: 20px;
	height: 19px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M58%20605v14a1%201%200%200%201-1%201H43a1%201%200%200%201-1-1v-14a1%201%200%200%201%201-1h14a1%201%200%200%201%201%201zm-14%2013h2.2l6.1-6.1a1%201%200%200%201%201.42%200l2.28%202.27V606H44zm12%200v-1l-2.99-3-3.98%204zm-10-8a2%202%200%201%201%204%200%202%202%200%200%201-4%200z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-602)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_insta {
	width: 22px;
	height: 22px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2222%22%20height%3D%2222%22%20viewBox%3D%220%200%2022%2022%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M55%20842.24v8.51c0%202.9-2.35%205.25-5.24%205.25h-8.52a5.25%205.25%200%200%201-5.24-5.25v-8.5c0-2.9%202.35-5.25%205.24-5.25h8.52c2.89%200%205.24%202.35%205.24%205.24zm-1.69%208.51v-8.5c0-1.97-1.6-3.57-3.55-3.57h-8.52a3.56%203.56%200%200%200-3.55%203.56v8.51c0%201.97%201.6%203.56%203.55%203.56h8.52c1.96%200%203.55-1.6%203.55-3.56zm-2.91-4.25a4.9%204.9%200%201%201-9.8-.01%204.9%204.9%200%200%201%209.8%200zm-1.69%200a3.21%203.21%200%201%200-6.43%200%203.21%203.21%200%200%200%206.43%200zm2.77-5.97a1.24%201.24%200%200%201%200%201.75c-.24.23-.55.37-.88.37a1.24%201.24%200%200%201-1.24-1.24%201.24%201.24%200%200%201%201.24-1.24c.33%200%20.65.13.88.36z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-34%20-835)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_location-pin {
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2215%22%20height%3D%2219%22%20viewBox%3D%220%200%2015%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M56%20671c0%201.3-.43%202.5-1.14%203.48-.01.03-.01.05-.03.07l-4%206a1%201%200%200%201-1.66%200l-4-6c-.02-.02-.02-.04-.03-.07A6%206%200%201%201%2056%20671zm-2%200a4%204%200%200%200-8%200c0%201%20.62%202%201%202.7l3%204.5%203-4.5a5%205%200%200%200%201-2.7zm-2%200a2%202%200%201%201-4%200%202%202%200%200%201%204%200z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-42%20-663)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_present-box {
	width: 19px;
	height: 19px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2219%22%20height%3D%2219%22%20viewBox%3D%220%200%2019%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M58%20486v4a1%201%200%200%201-1%201v6a1%201%200%200%201-1%201H44a1%201%200%200%201-1-1v-6a1%201%200%200%201-1-1v-4a1%201%200%200%201%201-1h2a3%203%200%200%201%205-2.22%202.98%202.98%200%200%201%205%202.22h2a1%201%200%200%201%201%201zm-7-1h2a1%201%200%201%200-2%200zm-4%200h2a1%201%200%201%200-2%200zm2%206h-4v5h4zm0-4h-5v2h5zm6%204h-4v5h4zm1-4h-5v2h5z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-480)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_shopping-bag {
	width: 14px;
	height: 19px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2214%22%20height%3D%2219%22%20viewBox%3D%220%200%2014%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M56%20426v10a1%201%200%200%201-1%201H45a1%201%200%200%201-1-1v-10h3v-2a3%203%200%201%201%206%200v2zm-7%200h2v-2a1%201%200%201%200-2%200zm5%202h-8v7h8z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-43%20-419)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_star {
	width: 20px;
	height: 19px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2220%22%20height%3D%2219%22%20viewBox%3D%220%200%2020%2019%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M54.33%20376a1%201%200%200%201-.49-.13L50%20373.75l-3.84%202.12a1%201%200%200%201-1.47-1.03l.74-4.57-3.14-3.23a1%201%200%200%201%20.56-1.68l4.3-.66%201.94-4.12a1%201%200%200%201%201.82%200l1.93%204.12%204.3.66a1%201%200%200%201%20.57%201.68l-3.14%203.23.74%204.57a1%201%200%200%201-.98%201.16zM50%20371.6a1%201%200%200%201%20.48.13l2.53%201.4-.5-3.03a1%201%200%200%201%20.27-.86l2.14-2.2-2.9-.44a1%201%200%200%201-.76-.57L50%20363.35l-1.26%202.68a1%201%200%200%201-.75.57l-2.91.44%202.14%202.2a1%201%200%200%201%20.27.86l-.5%203.02%202.53-1.39a1%201%200%200%201%20.48-.12z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-40%20-359)%22%2F%3E%3C%2Fsvg%3E');
}

.icon_youtube {
	width: 22px;
	height: 27px;
	background-image: url('data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20width%3D%2222%22%20height%3D%2227%22%20viewBox%3D%220%200%2022%2027%22%3E%3Cdefs%3E%3Cpath%20id%3D%22a%22%20d%3D%22M52.07%20903.82h-1.25v-.73c0-.33.27-.6.6-.6h.07c.33%200%20.6.27.6.6zm-4.11-1.1v3.58c0%20.26-.26.47-.58.47-.32%200-.58-.21-.58-.47v-3.57c0-.26.26-.48.58-.48.32%200%20.58.22.58.48zm7.04-2.46v6.78c0%201.63-1.4%202.96-3.1%202.96H39.1a3.05%203.05%200%200%201-3.1-2.96v-6.78c0-1.63%201.29-2.26%203-2.26h13c1.7%200%203%20.63%203%202.26zM40%20908v-7h2v-1h-5v1h2v7zm4.71-6.3l-.71.3v4c0%20.55-.58.34-.61.44-.1.3-.2%201.14-.39.56-.03-.1%200-.48%200-1v-4h-1v3c0%20.58-.02%201.8%200%202%20.03.35-.32.77%200%201%201.47-.13%201.71-.38%202-1v1h1v-6zm4.23%204.36v-3.17c0-1.21-.9-1.94-2.12-.96L47%20900h-1v8l.58-.3.1-.5c1.39%201.28%202.26.4%202.26-1.14zm4.13-.42h-.99v.71c0%20.3-.25.54-.54.54h-.2a.54.54%200%200%201-.54-.54v-1.46h2.27V904c0-.63-.02-1.26-.07-1.61-.16-1.14-1.74-1.32-2.54-.74a1.5%201.5%200%200%200-.56.75c-.11.33-.17.78-.17%201.34v1.9c0%203.15%203.8%202.7%203.34%200zm-5.2-11.8c-.02-.19-.03-.55-.03-1.1v-4.25h1.2v4.91c0%20.27.23.49.5.49.26%200%20.47-.22.47-.49v-4.91h1.16v6.32H49.7l.03-.53c-.1.21-.23.37-.37.48a.83.83%200%200%201-.51.16.92.92%200%200%201-.54-.15.9.9%200%200%201-.32-.4%201.87%201.87%200%200%201-.13-.53zm-4.34-3.04c0-.61.05-1.08.15-1.43.1-.34.28-.61.54-.82.26-.2.6-.3%201-.3.34%200%20.63.06.87.2.25.12.44.3.57.51.13.21.22.43.27.66.05.23.08.57.08%201.03v1.6a8.7%208.7%200%200%201-.07%201.3c-.05.27-.14.52-.3.76-.14.24-.33.41-.56.52-.23.12-.5.17-.8.17a2.2%202.2%200%200%201-.85-.14c-.23-.1-.41-.24-.54-.44-.13-.2-.23-.43-.28-.7-.06-.28-.08-.7-.08-1.25v-1.67zm1.15%202.5c0%20.36.27.65.59.65.32%200%20.58-.29.58-.65v-3.36c0-.36-.26-.65-.58-.65-.32%200-.59.3-.59.65zm-4.08-3.14L38.86%20886h1.5l.89%203.09.87-3.08h1.52L42%20890.16V895h-1.4z%22%2F%3E%3C%2Fdefs%3E%3Cuse%20fill%3D%22%23666%22%20xlink%3Ahref%3D%22%23a%22%20transform%3D%22translate(-34%20-884)%22%2F%3E%3C%2Fsvg%3E');
}
@import 'buttons';
@import 'forms';
@import 'header';
@import 'content';
@import 'footer';
@import 'media';
